.cta_button {
    font-family: hubl("$font");
    font-weight: 400;
    text-decoration: none;
    border-radius: 0px;
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}


.cta-simple,
.cta-simple:visited,
.cta-simple:focus,
.cta-simple:active {
    color: hubl("$first_color");
    font-weight: 600;
    line-height: 1.1;
    display: inline-block;
}

.cta-simple {
    position: relative;
    font-size: 18px;

    position: relative;
    &:after {
        content: "";
        display: block;
        width: 0px;
        height: 2px;
        background-color: hubl("$first_color");
        position: absolute;
        left: 0;
        bottom: -3px;
        transition: all 0.3s linear;
    }
    &:hover {
        text-decoration: none;
        cursor: pointer;
        &:after {
            width: 100%;
        }
    }
}

.cta-primary, .cta-secondary, .cta-tertiary {
    border: 1px solid transparent;
    &:hover, &:active, &:focus {
        text-decoration: none;
    }

}

.cta-primary, a.cta-primary {
    margin: 0px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    background-color: hubl("$cta_background");
    color: hubl("$cta_color");
    position: relative;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
    padding: 18px 48px;
    min-width: 100px;
    line-height: 18px;
    cursor: pointer;
    outline: 0;
    p,
    span,
    strong {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
    }
    &:visited, &:focus, &:hover, &:active {
        line-height: 18px;
        text-decoration: none;
        font-weight: 500;
    }
    &:focus {
        color: hubl("$cta_color");
    }
    &:hover{
        background-color: transparent;
        border: 1px solid hubl("$cta_background");
        color: hubl("$cta_background");
    }
    &:after {
        display: none !important;
    }
}

// .cta-primary:before,
// .cta-primary:after {
//     width: 20px;
//     height: 20px;
//     z-index: 3;
//     content: '';
//     position: absolute;
//     box-sizing: border-box;
//     transition: 0.3s;
// }

// .cta-primary:before {
//     left: -10px;
//     bottom: -10px;
//     border-bottom: 2px solid hubl("$cta_color");
//     border-left: 2px solid hubl("$cta_color");
//     transform-origin: 0 100%;
// }

// .cta-primary:after {
//     top: -10px;
//     right: -10px;
//     border-top: 2px solid hubl("$cta_color");
//     border-right: 2px solid hubl("$cta_color");
//     transform-origin: 100% 0%;
// }

// .cta-primary:hover:after,
// .cta-primary:hover:before {
//     width: calc(100% + 20px);
//     height: calc(100% + 20px);
// }


.cta-secondary {
    margin: 0px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    background-color: hubl("$cta2_background");
    color: hubl("$cta2_color");
    position: relative;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
    line-height: 18px;
    padding: 18px 48px;
    min-width: 100px;
    cursor: pointer;
    outline: 0;
    border: 1px solid hubl("$cta_background");

    p,
    span,
    strong {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
    }
    &:visited, &:focus, &:hover, &:active {
        line-height: 18px;
        text-decoration: none;
        font-weight: 500;
    }
    &:focus {
        color: hubl("$cta_background");
    }
     &:hover{
        background-color: transparent;
        color: hubl("$cta_background");
        border: 1px solid hubl("$cta_background");
    }
    &:after {
        display: none !important;
    }
}

// .cta-secondary:before,
// .cta-secondary:after {
//     width: 20px;
//     height: 20px;
//     z-index: 3;
//     content: '';
//     position: absolute;
//     box-sizing: border-box;
//     transition: 0.3s;
// }

// .cta-secondary:before {
//     left: -10px;
//     bottom: -10px;
//     border-bottom: 2px solid hubl("$cta2_color");
//     border-left: 2px solid hubl("$cta2_color");
//     transform-origin: 0 100%;
// }

// .cta-secondary:after {
//     top: -10px;
//     right: -10px;
//     border-top: 2px solid hubl("$cta2_color");
//     border-right: 2px solid hubl("$cta2_color");
//     transform-origin: 100% 0%;
// }

// .cta-secondary:hover:after,
// .cta-secondary:hover:before {
//     width: calc(100% + 20px);
//     height: calc(100% + 20px);
// }



.cta-tertiary {
    margin: 0px;
    cursor: pointer;
    font-size: 18px;
    background-color: hubl("$cta3_background");
    color: hubl("$cta3_color");
    position: relative;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
    padding: 18px 48px;
    min-width: 100px;
    cursor: pointer;
    outline: 0;
    
    p,
    span,
    strong {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
    }
    &:focus {
        color: hubl("$cta3_color");
    }
     &:hover{
        background-color: transparent;
        color: hubl("$cta3_background");
        border: 1px solid hubl("$cta3_background");
    }
    &:after {
        display: none !important;
    }
}

.cta_submit-wrapper {
    padding: 0;

    input[type="submit"] {
        font-size: inherit;
        line-height: inherit;
        padding: 12px 48px;
        background: transparent;
        border: 0;
        outline: 0;
        color: inherit;
        cursor: pointer;
    }
}




/* Play icon for video modal modules */
.va-video-play-btn {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    width: 132px;
    height: 132px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 6px solid #fff;
    border-radius: 50%;
    outline: 0;
    background-color: transparent;
    background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/images/Solutions%20Page/play-btn.png');
    background-repeat: no-repeat;
    background-position-x:40px;
    background-position-y: center;
    transition: all 0.3s linear;

    &__text-below {
        position: absolute;
        display: inline-block;
        margin: auto;
        bottom: -60px;
        left: -100px;
        right: -100px;
        color: #fff;
        font-size: 23px;
        font-weight: 500;
        transition: all 0.3s linear;
    }

    &:hover{
        border-color: #2b2a2b;
        background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/images/Solutions%20Page/play-btn-hover.png');

        .va-video-play-btn__text-below {
            color: #000;
        }
    }

}

@media (max-width: 767px) {

    .va-video-play-btn {
        margin-top: 25px;
        margin-bottom: 25px;
    }

}
