.footer {
    // phone color on iOS 
    a[href^="tel"] {
        color: #fff;
        font-weight: 300;
    }
    .widget-type-rich_text a {
        color: #fff;
        font-weight: 300;
        &:after {
            display: none;
        }
        &:hover {
            color: hubl("$first_color");
            border: none;
        }
    }
    .follow-us-module-footer {
        a {
            position: relative;
            margin: 0;
            padding: 0px;
            min-width: 50px;
            margin-bottom: 0px;
            span {
                display: none!important;
            }
            &.fm_button {
                display: block;
                &:before {
                    font-family: FontAwesome;
                    display: block;
                    font-size: 25px;
                    font-weight: 300;
                    color: hubl("$font2_color");
                    transition: all 0.3s linear;
                    text-align: center;
                    margin: 10px 0px;
                }
                &.fm_twitter:before {
                    content: "\f099";
                }
                &.fm_facebook:before {
                    content: "\f09a";
                }
                &.fm_googleplus:before {
                    content: "\f0d5";
                }
                &.fm_linkedin:before {
                    content: "\f0e1";
                }
                &.fm_default:before {
                    content: "\f0ac";
                }
                &.fm_rss:before {
                    content: "\f09e";
                }
                &.fm_youtube:before {
                    content: "\f167";
                }
                &.fm_pinterest:before {
                    content: "\f231";
                }
                &:hover {
                    text-decoration: none;
                    &:before {
                        color: hubl("$first_color");
                    }
                }
                &:after {
                    content: none;
                }
            }
        }
    }
    &--main {
        .top {
            padding: 65px 0px 55px 0px;
            background-color: hubl("$second_color");
            h3 {
                color: #fff;
                margin: 0;
                line-height: 36px;
                font-weight: 300;
                @media (max-width: 767px) {
                    margin-top: 40px;
                }
            }
            p {
                color: #fff;
            }
            .left {
                max-width: 380px;
                padding-right: 30px;
                float: left;
                @media (max-width: 767px) {
                    max-width: 100%;
                    padding-right: 0;
                }
                .widget-type-logo {
                    img {
                        max-width: 167px;
                    }
                }
                .widget-type-rich_text {

                    @media (max-width: 767px) {
                        padding-right: 0px;
                    }
                    p {
                        margin-top: 40px;
                    }
                }
            }
            .right {
                max-width: 500px;
                float: right;

                @media (max-width: 767px) {
                    max-width: 100%;
                    float: none;
                }
                .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
                    margin-top: 33px;
                    @media (max-width: 767px) {
                        margin-top: 23px;
                    }
                    li.hs-menu-depth-1 {
                        float: none;
                        margin: 9px 0;
                        &:first-of-type {
                            margin-top: 4px;
                        }
                        a {
                            padding: 0px;
                            color: #fff;
                            font-weight: 300;
                            transition: all 0.3s linear;
                            &:hover {
                                color: hubl("$first_color");
                                border: none;
                            }
                        }
                    }
                }
                .widget-type-rich_text {
                    margin-top: 23px;
                    p {
                        margin: 10px 0px;
                    }
                }
                /* */
                .row-fluid {
                    @media (max-width: 767px) {
                        .span6 {
                            float: left;
                            width: 50%;
                        }
                    }
                    @media (max-width: 450px) {
                        .span6 {
                            float: none;
                            width: auto;
                        }
                    }
                }
            }
        }
        .bottom {
            padding: 15px 0px;
            background-color: hubl("$third_background");
            .widget-type-text {
                color: #fff;
                margin: 10px 0px;
                @media (max-width: 767px) {
                    text-align: left;
                }
            }
            .follow-us-module-footer {
                div {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-wrap: wrap;
                    @media (max-width: 767px) {
                        margin-top: 20px;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
    &--landing {
        .bottom {
            padding: 45px 0px;
            background-color: hubl("$third_background");
            .widget-type-text {
                color: #fff;
                margin: 10px 0px;
                @media (max-width: 767px) {
                    text-align: left;
                }
            }
            .follow-us-module-footer {
                div {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-wrap: wrap;
                    @media (max-width: 767px) {
                        margin-top: 20px;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}

// ***********************************
// ***********************************
// ********** PIDAS FOOTER ***********
// ***********************************
// ***********************************


.footer-pidas{
    background-color: hubl("$second_color");
    padding: 20px 0px 35px 0px;
    .social{
        text-align: right;
        @media (max-width: 865px){
            text-align: center;
        } 
        p{
            color: #fff;
            font-weight: 500;

        }
        ul{
            margin-top: 20px;
            margin-bottom: 20px;
            li{
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 10px;
                &:last-child{
                    margin-right: 0px;
                }
                a{
                    color:#fff;
                    i{
                        color:#fff;
                        font-size: 28px;
                        line-height: 28px;

                    }
                }
            }
        }
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 641px){
            flex-direction:column;
            align-items: center;
        }
        .copyright{

            p{
                color: #b5b5b5;
                font-size: 18px;
                font-weight: 500;
                margin: 0px;
                a{
                    color: #b5b5b5;
                    font-weight: 500;
                    position: relative;
                    &:hover{
                       &:before{
                        content: '';
                        width: 100%;
                        display: block;
                        height: 1px;
                        background-color:  hubl("$first_color");
                        position: absolute;
                        bottom: -3px;
                        left: 0px;
                       }
                    }
                }
            }
             @media (max-width: 641px){
                order: 2;
                margin-top: 50px;
            }
        }
        .footer-nav{
            ul{
                margin: 0px;
                li{
                    display: inline-block;
                    margin-right: 30px;
                    margin-bottom: 15px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    a{
                        color: #b5b5b5;
                        font-size: 16px;
                        font-weight: 500;
                        &:hover{
                            color: #c4c4c4;
                        }
                    }
                }
            }
        }
    }
}