input.hs-input,
textarea {
    font-family: hubl("$font");
    font-size: 14px;
    padding: 16.5px;
    outline: 0;
    border: 1px solid #d6d5d5;
    resize: none;
    padding-right: 50px;
    color: hubl("$second_color");
    &:focus {
        border: 1px solid hubl("$first_color");
        box-shadow: 0px 4px 5.82px 0.18px rgba(35, 31, 32, 0.13);
    }
    &.error {
        position: relative;
        border: 1px solid #eb5c5c;
        box-shadow: 0px 4px 5.82px 0.18px rgba(35, 31, 32, 0.13);
    }
    &::-ms-reveal {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-ms-reveal {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=submit] {
    font-family: $font_family;
}

.input {
    margin-bottom: 20px;
}

.error-border {
    position: relative;
    &:after {
        // font-family: "FontAwesome";
        // content: "\f00d";
        content: url('http://marketing.clickray.eu/hubfs/IMG_Turbo_Vanadyl/error-sign.png'); // font-size: 11px;
        // line-height: 18px;
        position: absolute; // border-radius: 50%;
        // border: 2px solid #eb5c5c;
        // color: #eb5c5c;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px; // padding-left: 1px;
        text-align: center; // padding-top: 4px;
    }
}

.verify {
    position: relative;
    &:after {
        // font-family: "FontAwesome";
        // content: "\f00c";
        content: url('https://cdn2.hubspot.net/hubfs/3811038/Vanadyl/ok-sign-black.png'); // font-size: 11px;
        position: absolute; // border-radius: 50%;
        // border: 2px solid hubl("$first_color");
        // color: hubl("$first_color");
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px; // padding-left: 4px;
        // padding-top: 4px;
    }
}

.hs_message {
    .error-border {
        position: relative;
        &:after {
            font-family: "FontAwesome";
            content: "\f00d";
            font-size: 11px;
            position: absolute;
            border-radius: 50%;
            border: 2px solid #eb5c5c;
            color: #eb5c5c;
            right: 20px;
            top: 28px;
            width: 22px;
            height: 22px;
            padding-left: 5px;
            padding-top: 4px;
        }
    }
    .verify {
        position: relative;
        &:after {
            font-family: "FontAwesome";
            content: "\f00c";
            font-size: 11px;
            position: absolute;
            border-radius: 50%;
            border: 2px solid hubl("$first_color");
            color: hubl("$first_color");
            right: 20px;
            top: 28px;
            width: 22px;
            height: 22px;
            padding-left: 4px;
            padding-top: 4px;
        }
    }
}

//wyjątki od veryfikacji
.dropdown_select.input, // dropdown
.file-upload.input, // file upload
.actions, // submit
label {
    // checkbox, radio
    &.error-border {
        &:after {
            display: none;
        }
    }
    &.verify {
        &:after {
            display: none;
        }
    }
}

.dropdown_select.input {
    font-size: 14px; // min-width: 300px;
    // display: inline-block;
    user-select: none;
    select {
        display: none;
    }
    .dropdown-header {
        border: 1px solid #d6d5d5;
        background: white;
        color: hubl("$font2_color");
        padding: 0 20px;
        height: 50px;
        cursor: pointer;
        position: relative;
        margin-bottom: 8px;
        span {
            line-height: 50px;
            font-weight: 300;
        }
        &:after {
            font-family: "FontAwesome";
            content: "\f107";
            font-size: 22px;
            position: absolute;
            color: hubl("$font2_color");
            right: 20px;
            top: 14px;
            width: 22px;
            height: 22px;
        }
        &.dropdown-selected {
            color: hubl("$second_color");
        }
    }
    .dropdown-list {
        background-color: #FFF;
        list-style: none;
        padding-left: 0;
        margin: 0;
        border: 1px solid #d6d5d5;
        float: left;
        height: 100%;
        width: 100%;
        box-shadow: 0px 4px 5.82px 0.18px #D6D5D5;
        li {
            height: 50px;
            line-height: 50px;
            cursor: pointer;
            color: hubl("$font2_color");
            clear: left;
            font-weight: 300;
            padding-left: 20px;
            display: block !important;
            margin-right: 0 !important;
        }
        li:hover {
            background-color: hubl("$first_color");
            color: #FFF;
        }
    }
}


.file-upload {
    width: 100%;
    height: 182px;
    position: relative;
    input[type=file] {
        width: 100%;
        height: 182px;
        opacity: 0;
        position: relative;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
    }
    .overlay {
        cursor: pointer;
        border: dashed 1px rgb(214, 213, 213);
        position: absolute;
        top: 0px;
        text-align: center;
        width: 100%;
        height: 182px;
        span {
            font-size: 16px;
            color: #a1a1a1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        svg {
            width: 66px;
            height: 82px;
            opacity: 0.09;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: hubl("$first_color");
        }
    }
}

input {
    &[type="checkbox"].hs-input {
        visibility: hidden;
        display: none;
        +span {
            margin-left: 12px;
            position: relative;
            &:before {
                content: "\f0c8";
                position: absolute;
                top: 1px;
                left: -29px;
                font-family: "FontAwesome";
                color: #FFF;
                font-size: 15.5px;
            }
            &:after {
                content: "\f096";
                position: absolute;
                top: 1px;
                left: -30px;
                font-family: "FontAwesome";
                color: #D6D5D5;
                transition: color 0.3s, box-shadow 0.3s;
                font-size: 18.5px;
                line-height: 0.8;
            }
            &:hover:after {
                color: hubl("$first_color");
                box-shadow: 0px 4px 5.82px 0.18px rgba(35, 31, 32, 0.09);
                cursor: pointer;
            }
        }
        &:checked+span:after {
            content: "\f14a";
            color: hubl("$first_color");
            font-size: 17px;
        }
    }
    &[type="radio"].hs-input {
        visibility: hidden;
        display: none;
        +span {
            margin-left: 14px;
            position: relative;
            &:before {
                content: "\f1db";
                font-family: FontAwesome;
                color: #D6D5D5;
                position: absolute;
                left: -33px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 19px;
                background-color: #FFF;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                line-height: 0.8;
                transition: 0.3s;
            }
            &:after {
                font-family: FontAwesome;
                color: #D6D5D5;
                position: absolute;
                background-position: center;
                left: -29.6px;
                top: 11.7px;
                transform: translateY(-50%);
                font-size: 11px;
            }
            &:hover:before {
                color: hubl("$first_color");
                box-shadow: 0px 4px 5.82px 0.18px rgba(35, 31, 32, 0.09);
                cursor: pointer;
            }
        }
        &:checked+span {
            &:after {
                content: "\f111";
                color: hubl("$first_color");
            }
        }
    }
}

//ios radio hack
// .ios input[type='radio'].hs-input + span:after {
//     top: 9px;
// }
.hs-error-msgs,
.hs-error-msgs a {
    margin-top: -10px;
    list-style: none;
    color: #eb5c5c;
    padding-left: 0px;
    font-weight: 300;
}

label {
    font-size: 14px;
    font-weight: 400;
    color: hubl("$font2_color");
}

.hidden-label {
    height: 0;
    overflow: hidden;
    display: block;
}

form {
    ul {
        &.inputs-list {
            padding: 0 20px;
        }
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: hubl("$font2_color");
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: hubl("$font2_color");
}

::-ms-input-placeholder {
    /* EDGE */
    color: hubl("$font2_color");
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: hubl("$font2_color") !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: hubl("$font2_color");
}




@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px){

    form .form-columns-2 .hs-form-field .hs-input, 
    form .form-columns-3 .hs-form-field .hs-input {
        width: 100%!important;
    }
}

// FIELDS FORM 
.widget-type-form,
.widget-type-blog_subscribe {

    fieldset {
        max-width: 100%!important;
        margin: auto!important;

        .hs-richtext {
            max-width: inherit;
        }

        .input {
            width: 100%;
            margin: 0;

            .hs-input {
                width: 100%!important;
            }
        }

        &.form-columns-2 {
            .hs-form-field {
                width: 50%!important;
                @media (max-width: 767px) {
                    width: 100%!important;
                    float: none!important;
                    padding: 0px!important;
                }
            }
        }

        &.form-columns-3 {
            .hs-form-field {
                width: 33.33%!important;
                @media (max-width: 767px) {
                    width: 100%!important;
                    float: none!important;
                    padding: 0px!important;
                }
            }
        }

        &[class^="form-columns-"]:not(.form-columns-1) {

            .hs-form-field {
                padding-left: 5px;
                padding-right: 5px;

                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                }
                @media (max-width: 400px),
                (max-device-width: 480px) and (min-device-width: 320px) {
                    width: 100%;
                    padding: 0px;
                }
                input {
                    @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
                        width: 100%!important;
                    }
                }
            }
        }

        .hs-error-msgs,
        .hs-error-msgs a {
            margin-top: 5px;
        }
    }
}