@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body{
    margin: 0;
    padding: 0;
    font-family: $font_family;
    overflow-x:hidden;
}

.wow {
    visibility: hidden;
}

/*
███████╗ ██████╗ ██████╗ ███╗   ███╗
██╔════╝██╔═══██╗██╔══██╗████╗ ████║
█████╗  ██║   ██║██████╔╝██╔████╔██║
██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝

*/

form {
    label {
        span {}
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="search"],
    input[type="url"],
    input[type="month"],
    input[type="week"] {}
    input[type="radio"] {}
    input[type="checkbox"] {}
    input[type="submit"] {}
    textarea {

    }
    select {

    }
    ::-webkit-input-placeholder {}
    ::-moz-placeholder {}
    ::-moz-placeholder {}
    ::-ms-input-placeholder {}
}
/*
 ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗ ██╗███╗   ██╗███████╗██████╗
██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██║████╗  ██║██╔════╝██╔══██╗
██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║██╔██╗ ██║█████╗  ██████╔╝
██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║██║╚██╗██║██╔══╝  ██╔══██╗
╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║██║██║ ╚████║███████╗██║  ██║
 ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝
*/

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
.row-fluid [class*="span"] {
  min-height: 0px;
}

*,*:before, *:after {
    box-sizing: border-box;
}


/*
███████╗██╗     ██╗ ██████╗██╗  ██╗
██╔════╝██║     ██║██╔════╝██║ ██╔╝
███████╗██║     ██║██║     █████╔╝
╚════██║██║     ██║██║     ██╔═██╗
███████║███████╗██║╚██████╗██║  ██╗
╚══════╝╚══════╝╚═╝ ╚═════╝╚═╝  ╚═╝
*/
.slick-vertical .slick-slide{
    border:none!important;
}
.va-slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    bottom: -40px;
    right: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-align: center;

    * {
        outline: 0;
    }

    li {
        display: inline-block;
        margin: 0;
        font-size: 0;
        line-height: 0;

        button {
            width: 9px;
            height: 9px;
            padding: 0;
            margin: 4px;
            border: none;
            outline: 0;
            background-color: hubl_rgba('$first_color',.3);
            border-radius: 50%;
            font-size: 0;
            line-height: 0;
            cursor: pointer;
            transition: background-color .3s linear;

            &:hover {
               background-color: hubl_rgba('$first_color',.6);
            }
        }

        &.slick-active {

            button {
                background-color: hubl_rgba('$first_color',1);
            }
        }
    }
}

