header.header{
	position: fixed;
	width: 100%;
	max-height: 77px;
	z-index: 999;
	&--main{
		background-color: #fff;
		>.container{
			>.span12{
				>.row-fluid-wrapper:first-of-type{
					>.row-fluid{
						min-height:77px;
						display:flex;
						justify-content:center;
					}
				}
			}
		}
	}
	&--landing{
		background-color: #fff;
		>.container{
			>.span12{
				>.row-fluid-wrapper:first-of-type{
					>.row-fluid{
						min-height:77px;
						display:flex;
						justify-content:center;
						@media (max-width: 767px){
					    	justify-content:flex-start; 
					    }
					}
					
				}
			}
		}
	}
	&.mobile{
		width:100%;
		.menu{
			display:none;
		}
		.google-search-module{
			display:none;
		}
		.logo{
			min-width:165px;
			z-index:2;
			position:fixed;
			left:15px;
			top:25px;

		}
	}

	.logo{
		//background-color: red;
		min-width:165px;
		align-self:center;
		margin-left: 0px;
		img{
			max-width: 167px;
			display: block;
		}

	}
	.google-search-module{
		position:relative;
		width:17px;
		margin-left:1.3%;
		.google-search-module-btn{
			position:absolute;
			top:50%;
			transform:translateY(-50%);
			margin-top:-2px;
			cursor:pointer;
			&:before{
				content:"\e922";
				font-family:'VanadylIcons';
				display:block;
				color:hubl("$font_color");
				font-size:20px;
				font-weight: bold;
			}
		}
	}
	.google-search-module-popup{
		position: fixed;
	    width: 100%;
	    height: 100%;
	    z-index: 9999999;
	    background-color: rgba(48, 48, 48, 0.93);
	    color: #ffffff;
	    top: 0;
	    left: 0;
	    visibility: hidden;
	    opacity: 0;
	    transition: all 0.2s;
		&.show-popup{
			opacity:1;
			z-index:999;
			visibility:visible;

			.google-search-module-label,
			.google-search-module-icon:before,
			input[type="text"]{
				opacity:1!important;
				margin-top:0px!important;
   				border-radius:0px;

			}

		}
		.google-search-module-popup-close{
			position: absolute;
		    top: 40px;
		    right: 80px;
		    color: #ffffff;
		    transition: all 0.5s;
		    cursor:pointer;
		    i {
		    	color: #fff;
		    	font-size: 34px;
		    	transition: all .3s linear;
		    }

		    &:hover {
		    	i {
		    		color: hubl("$first_color");
		    	}
		    }
		}
		.container{
			height:100vh;
			display:flex;
							display: flex;
			    width: 100%;
			    justify-content: center;
			    align-items: center;
			    float: none;
.google-search-module-label{
					font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    font-family:hubl("$font");
    text-transform: uppercase;
    padding-right:30px;
    margin-top: 200px;
    opacity:0;

				transition:all 0.5s ease;
 transition-delay:0.2s;
				}
.google-search-module-icon{
				&:before{
				content:"\e922";
				font-family:'VanadylIcons';
				display:block;
				color:#fff;
				padding-left:20px;
				font-size:32px;
				font-weight: bold;
				margin-top: 200px;
				opacity:0;

				transition:all 0.5s ease;
				transition-delay:0.2s;
				cursor:pointer;
			}
}
			.google-search-module-form{
				width:100%;

				.input{
					margin-bottom:0px;
				}
				input[type="text"]{
					transition:all 0.5s ease;
					margin-top: 200px;
					opacity:0;
					width: 100%;
					background-color: transparent;
					border: none;
					border-bottom: 1px solid #ffffff;
					font-size: 16px;
					padding: 3px;
					color: #ffffff;
					font-weight:300;
					margin-bottom:0;
					border-radius:0px;
					font-family:hubl("$font");
					box-shadow:none;
					transition-delay:0.2s;
					outline-color: rgba(0,0,0,0);
					outline-width: 0px;
				}

			}
		}
	}

}

.body-container-wrapper{
	margin-top:77px;
}



// PIDAS MENU CR 

.menu-theme--light{
	.menu-navigation{
		.menu--secondary{
			a{
				// font-family: 'FuturaW01-Book';
			 	font-weight: 400;

			}
		}
		a:visited {
		    text-decoration: none;
		    color: inherit;
		    font-weight: inherit;
		}
	}
	.menu--secondary,
	.menu--ternary{
		a{
			font-family: 'FuturaW01-Book';
			font-weight: 400;
		}
	}
	.body-container-wrapper{
		margin-top:0px;
	}
}




