header.header{
	box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.15);
	.menu{
		align-self:center;
		text-align:right;
		width:100%;
		.hs-menu-wrapper{
			>ul{
				width:100%;
				text-align:right;
				display:flex;
				justify-content:flex-end;
			}
		}

		.hs-menu-depth-1{
			position:relative;
			margin:0 1.15%;
		    &:hover{
		    	> a {
				    transition: all .2s ease;
				     &:before {
					    display: block;
					    width: 100%;
					    border-bottom:3px solid hubl("$first_color");
					    content: "";
					    opacity: 1;
					    z-index:9;
					    transition: all .3s ease;
				   	}
		    	}
		    	>.hs-menu-children-wrapper {
					top:77px!important;
					opacity:1;
					right: -45px;
					z-index:1;
					transition: opacity 0.5s, top 0.5s;

				}
			}
		    > a {
	    		font-family:hubl("$font");
				outline-color:rgba(0,0,0,0);
				outline-width:0px;
				color:hubl("$font_color");
				font-weight:300;
				//border-bottom:3px solid #fff;
			    padding: 24px 7px 27px 7px;
			    line-height: normal;
		    	overflow: visible;
			    float:left;

			    &:before{
			        position: absolute;
				    bottom: 0px;
				    left: 50%;
				    transform:translateX(-50%);
				    display: block;
				    width: 0;
				    border-bottom:2px solid #fff;
				    content: "";
				    opacity: 0;
				    transition: all .3s ease;
			    }

		    }
			>.hs-menu-children-wrapper{
				position:absolute;
				top:100px;
				z-index:-1;
				right: -45px;
			    transition: opacity 0.5s, top 0.5s, left 0.5s, right 0.5s;
				left:auto!important;
				opacity:0;
				>.hs-menu-depth-2{
					&:first-of-type{
						padding-top:20px;
					&.hs-item-has-children{
							&:before{
								margin-top:10px;
							}
						}
					}
					&:last-of-type{
						padding-bottom:20px;
						&.hs-item-has-children{
							&:before{
								margin-top:-10px;
							}

						}
					}
				}
			}

		}
		.hs-menu-depth-2{
			background-color: hubl("$second_color");
			text-align:left;
			padding:0px 35px 0px 35px;
			position:relative;

			&.hs-item-has-children{

				&:before{
					content: "\e902";
					font-family:'VanadylIcons';
					position:absolute;
					right:15px;
					top:50%;
					transform:translateY(-50%);
					color:#fff;
				}
			}
			&:hover{
				>a{
					color:hubl("$first_color");
					padding-left:35px;
					transition: all 0.3s ease;
				}
				>.hs-menu-children-wrapper{
					opacity:1;
					z-index:1;
					left:100%!important;
					transition: opacity 0.5s, left 0.5s;
					&.left{
						opacity:1;
						z-index:1;
						left: initial!important;
    					right: 100%!important;
						transition: opacity 0.5s, right 0.5s;

					}
				}
			}
			>a{
	    		font-family:hubl("$font");
				padding-right:35px;
				transition: all 0.3s ease;
				color:#fff;
				font-weight:300;
				&:hover{
					color:hubl("$first_color");
					padding-left:35px;
					transition: all 0.3s ease;
				}
			}

			>.hs-menu-children-wrapper{
				position:absolute;
				z-index:-1;
				left:calc( 100% + 30px )!important;
			    transition: opacity 0.5s, left 0.5s;
				opacity:0;
				background-color:hubl("$second_color");
				box-shadow: inset 5px 0 10px rgba(0,0,0,.2);
				&.left{
					position:absolute;
					z-index:-1;
					left: initial!important;
    				right: calc(100% + 30px )!important;
				    transition: opacity 0.5s, right 0.5s;
					opacity:0;
				}
				>.hs-menu-depth-3{
					&:first-of-type{
						padding-top:20px;
					}
					&:last-of-type{
						padding-bottom:20px;

					}
				}
			}
		}
		.hs-menu-depth-3{
			//background-color: hubl("$second_color");
			text-align:left;
			padding:0px 35px 0px 35px;
			position:relative;
			&:hover{
				a>{
					color:hubl("$first_color");
					padding-left:35px;
					transition: all 0.3s ease;
				}
			}
			>a{
	    		font-family:hubl("$font");
				padding-right:35px;
				transition: all 0.3s ease;
				color:#fff;
				font-weight:300;
				&:hover{
					color:hubl("$first_color");
					padding-left:35px;
					transition: all 0.3s ease;
				}
			}
		}

		// background-color: blue;
	}
	&.mobile{
		width:100%;
		.slicknav_menu{
		    display: block;
		    position: fixed;
		    right: -5px;
		   // top: -5px;
		    background-color: rgba(0,0,0,0);
		    z-index: 1;
		    width: 100%;
		    .slicknav_btn {
		    	background-color:#fff;
		    	text-shadow:none;

		    	.slicknav_icon {
		    		position: relative;
		    		width: 36px;
		    		height: 36px;
		    		transform: rotate(0deg);
		    		transition: .5s ease-in-out;

		    		.slicknav_icon-bar {
		    			position: absolute;
		    			display: block;
		    			opacity: 1;
		    			left: 0;
		    			margin: 0;
				    	background-color: hubl("$second_color");
				    	box-shadow:none;
				    	width:100%;
				    	height:3px;
				    	border-radius: 3px;
			    	 	transform: rotate(0deg);
			    	 	transition: .25s ease-in-out;

			    	 	&:nth-child(1) {
			    	 		top: 9px;
			    	 	}

			    	 	&:nth-child(2) {
			    	 		top: 21px;
			    	 	}

			    	 	&:nth-child(3) {
			    	 		top: 33px;
			    	 	}

				    }
		    	}

		    	&.slicknav_open {

					.slicknav_icon {

		    			.slicknav_icon-bar {
			    			&:nth-child(1) {
			    				top: 21px;
								transform: rotate(135deg);
				    	 	}

				    	 	&:nth-child(2) {
				    	 		opacity: 0;
  								left: -60px;
				    	 	}

				    	 	&:nth-child(3) {
				    	 		top: 21px;
								transform: rotate(-135deg);
				    	 	}
		    			}
		    		}
		    	}
		    }
		    .slicknav_nav{
		    	background-color: hubl("$second_color");
				    left: -32px;
				    padding-right: 10px;
				    padding-left: 10px;
				    overflow: auto;
				    max-height: 100vh;
				    top: 77px;
				    position: absolute;
				    width: 100vw;

				    // test
					@media (max-width: 600px){
						 padding-bottom: 77px;
					}
				   

				    .slicknav_open {

				    	& > .slicknav_item {

				    		& > a {
				    			text-decoration: none;
				    			color: hubl("$first_color");
				    		}
				    	}
				    }

				    .slicknav_collapsed {

				    	& > .slicknav_item {

				    		& > a {
				    			text-decoration: none;
				    			color: #fff;
				    		}
				    	}
				    }

				    .slicknav_parent {

				    	.slicknav_item {
				    		position: relative;

					    	&:before {
					    		position: absolute;
								content: "\e902";
								font-family:'VanadylIcons';
								right:15px;
								top:50%;
								transform:translateY(-50%);
								color:#fff;
							}
						}
				    }

				    $cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
					$menuItems: 15;
					$reverseLoopInc: 1;
				    &.open > li {
						transform: scale(1) translate(0px, 0px);
	                    opacity: 1;
	                   	transition: transform .4s $cubic, opacity .6s $cubic;
	                    @for $i from 1 through $menuItems {
	                        &:nth-child(#{$i}) {
	                            transition-delay: #{$i * 0.06}s;
	                        }
	                    }
				    }

			    	& > li {
		                transform: scale(1.15) translate(-60px, -20px);
		                opacity: 0;
		                transition: transform .2s $cubic, opacity .4s $cubic;
		                @for $i from $menuItems*-1 through -1 {
		                    &:nth-child(#{abs($i)}) {
		                        transition-delay: #{$reverseLoopInc * 0.03}s;
		                    }
		                    $reverseLoopInc: $reverseLoopInc + 1;
		                }
			    	}
				    
				}
		    	ul{
		    		margin-left:27px;
		    		max-width:100%!important;

		    		@media (max-width: 767px) {
		    			//max-width:calc(100% - 66px)!important;
		    		}
		    	}
		    	.slicknav_arrow{
		    		display:none;
		    	}
		    	li{
		    		a{
		    			margin-top:20px;
		    			margin-bottom:20px;
		    			color:#fff;
						font-family:hubl("$font");
						font-weight:300;
						font-size:16px;
						outline-color:rgba(0,0,0,0);
						outline-width:0px;
						text-decoration: none;
						transition: 0.3 all ease;
						&:hover{
							color:hubl("$first_color");
							transition: 0.3 all ease;
							background-color:rgba(0,0,0,0)!important;
						}
		    		}
		    		&.search{
		    			position:relative;
	    				padding-left:15px;
	    				padding-left:15px;
	    				margin-right:15px;
	    				margin-bottom: 30px;
		    			input[type="text"]{
		    				color:#fff;
		    				font-size:16px;
		    				padding-bottom:0px;
		    				border-radius:0px;
		    				font-weight:300;
		    				margin-bottom:20px;
		    				padding-top:30px;
		    				font-family:hubl("$font");
		    				padding-left:0px;
		    				background-color: rgba(0,0,0,0);
		    				border:0;
		    				outline-color:#fff;
		    				outline-width:0px;
		    				border-bottom:1px solid #fff;

		    			}
						&:before{
							content:"\e922";
							font-family:'VanadylIcons';
							display:block;
							color:#fff;
							font-size:20px;
							font-weight: bold;
							bottom:28px;
							right:0px;
							position:absolute;
						}
		    			a{
		    				display:none;
		    			}
		    		}
					&.follow-us{
	    				padding-left:15px;
	    				padding-left:15px;
	    				margin-right:15px;
		    			position:relative;

		    			h4{
		    				font-weight:300;
							color:#fff;
							margin-top:40px;
							font-size:16px;

		    			}
		    			div{
		    				display:flex;
		    				flex-wrap:wrap;
			    			margin-bottom:20px;
			    			max-width:400px;
		    			}
		    			a{
		    				position:relative;
		    				margin:0;
		    				padding:0px;
		    				min-width:50px;
							margin-bottom:20px;
		    				span{
		    					display:none!important;
		    				}
		    				&.fm_button{
		    					display:block;
			    				&:before{
									font-family:FontAwesome;
									display:block;
									color:#fff;
									font-size:25px;
									font-weight:300;
		    					}
		    					&.fm_twitter:before{
									content:"\f099";
		    					}
		    					&.fm_facebook:before{
									content:"\f09a";
		    					}
		    					&.fm_googleplus:before{
									content:"\f0d5";
		    					}
		    					&.fm_linkedin:before{
									content:"\f0e1";
		    					}
		    					&.fm_default:before{
		    						content:"\f0ac";
		    					}
		    					&.fm_rss:before{
		    						content:"\f09e";
		    					}
		    					&.fm_youtube:before{
		    						content:"\f167";

		    					}
		    					&.fm_pinterest:before{
		    						content:"\f231";
		    					}
		    				}
		    			}
		    		}
		    	}

		    	.hs-menu-depth-2 {

	    			&:first-of-type {

	    				a {
	    					margin-top: 0;
	    				}
	    			}

	    			&:last-of-type {

	    				a {
		    				margin-bottom: 0;
		    			}
	    			}
		    	}
		    }
		}


	.slicknav_menu{
		display: none;
	}

}