// COMMENT FONT http://patorjk.com/software/taag/#p=display&f=ANSI%20Shadow&t=Example

/*
████████╗██╗   ██╗██████╗  ██████╗  ██████╗ ██████╗  █████╗ ██████╗ ██╗  ██╗██╗   ██╗
╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║  ██║╚██╗ ██╔╝
   ██║    ╚████╔╝ ██████╔╝██║   ██║██║  ███╗██████╔╝███████║██████╔╝███████║ ╚████╔╝
   ██║     ╚██╔╝  ██╔═══╝ ██║   ██║██║   ██║██╔══██╗██╔══██║██╔═══╝ ██╔══██║  ╚██╔╝
   ██║      ██║   ██║     ╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║     ██║  ██║   ██║
   ╚═╝      ╚═╝   ╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝   ╚═╝
*/

body {
    font-size: hubl("$basic_font_size");
    font-family: hubl("$font");
    background-color: #fff;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #FFF;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    color: #FFF;
}

h3 {
    font-size: 36px;
    font-weight: 600;
    color: hubl("$second_color");
    line-height: 1.2;
}

h4 {
    font-size: 23px;
    font-weight: 500;
    color: hubl("$second_color");
}

h5 {
    font-size: 20px;
    font-weight: 500;
    color: hubl("$second_color");
}

h6 {
    font-size: 16px;
    font-weight: 300;
    color: hubl("$font2_color");
}

p,
blockquote {
    // font-size: 16px;
    // font-weight: 300;
    color: hubl("$font2_color");

    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    font-family: L Futura W01;
   
}

blockquote {
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
}
li{
     font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    font-family: L Futura W01;
}
ol {
    li {
        
    }
}

button {
    overflow: visible; //IE
    font-family: hubl("$font");
}

strong {
    font-weight: 600;
}

a:not(.cta_button),
a:not(.cta_button):visited,
a:not(.cta_button):focus,
a:not(.cta_button):active {
    text-decoration: none;
    color: hubl("$first_color");
    font-weight: 500;
    transition: all 0.3s linear;
}

a {
    position: relative;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
    &.va-hover {
        position: relative;
        &:after {
            content: "";
            display: block;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-color: inherit;
            position: absolute;
            width: 0px;
            left: 0;
            bottom: 0;
            transition: all 0.3s linear;
        }

        &:hover {
            text-decoration: none;
            cursor: pointer;
            &:after {
                width: 100%;
            }
        }
    }
}

.widget-type-rich_text,
.hs_cos_wrapper_type_rich_text {
    a:not(.cta_button),
    a:not(.cta_button):visited,
    a:not(.cta_button):focus,
    a:not(.cta_button):active {
        color: hubl("$first_color");
        font-weight: 500;
        display: inline-block;
    }
    a:not(.cta_button) {
        position: relative;

        &:after {
            content: "";
            display: block;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-color: inherit;
            position: absolute;
            width: 0px;
            left: 0;
            bottom: 0;
            transition: all 0.3s linear;
        }
        &:hover {
            text-decoration: none;
            cursor: pointer;
            &:after {
                width: 100%;
            }
        }
    }
    h1 {
        font-size: 36px;
        font-weight: 600;
        color: hubl("$second_color");
    }
    h2 {
        font-size: 20px;
        font-weight: 500;
        color: hubl("$second_color");
    }
    h5 {}
    h6 {}
    h1,
    h2 {
        span {
            font-weight: normal;
        }
    }
    p,
    li,
    a,
    span {}
    ul {
        list-style: none;
        padding-left: 0;
        color: hubl("$font2_color");
        margin-left: 35px;
        li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 11px;
            strong {
                font-weight: 500;
                font-size: 20px;
                color: #261900;
                display: block;
                color: hubl("$second_color")
            }
            &:before {
                position: absolute;
                content: "";
                color: hubl("$first_color");
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
              
                // font-size: 22px;
                // line-height: 1.4;
                width: 7px;
                height: 7px;
                background-color: hubl("$font_color");
                display: block;
            }
        }
    }
    ol {
        list-style: none;
        counter-reset: li;
        padding-left: 0;
        color: hubl("$second_color");
        margin-left: 35px;
        li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 15px;
            &:before {
                position: absolute;
                counter-increment: li;
                content: counter(li)".";
                color: hubl("$first_color");
                left: 0;
            }
        }
    }
}
