@font-face {
   font-family: 'Futura Std';
   src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Light.eot');
   src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Light.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
   font-family: 'Futura Std';
   src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Book.eot');
   src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Book.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
   font-family: 'Futura Std';
   src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Bold.eot');
   src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Bold.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FuturaStd-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/MinionPro-ItCapt.eot');
    src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/MinionPro-ItCapt.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/MinionPro-ItCapt.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/MinionPro-ItCapt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



// new 


@font-face {
    font-family: 'L Futura W01';
    src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaLTW01-Bold.eot');
    src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaLTW01-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaLTW01-Bold.woff2') format('woff2'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaLTW01-Bold.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaLTW01-Bold.ttf') format('truetype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaLTW01-Bold.svg#FuturaLTW01-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'L Futura W01';
    src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Light.eot');
    src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Light.woff2') format('woff2'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Light.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Light.ttf') format('truetype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Light.svg#FuturaW01-Light') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaW01-Book';
    src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Book.eot');
    src: url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Book.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Book.woff2') format('woff2'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Book.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Book.ttf') format('truetype'),
        url('https://cdn2.hubspot.net/hubfs/3811038/FONTS/FONTS/FuturaW01-Book.svg#FuturaW01-Book') format('svg');
    font-weight: 400;
    font-style: normal;
    

}





$dev_version : true; 

$mainColor: #ffc400;
$secondaryTextColor: #626262;
$font_family : 'Futura Std', sans-serif;
$font_family_second : 'Minion Pro', sans-serif;


@function hubl_var($var,$dev){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return $dev;
	}
}

$variables : (
			  "$first_color": #c40d1e, 			// 1  hubl("$first_color")
			  "$second_color": #4b4b4b,			// 2  hubl("$second_color")
			  "$third_background": #24242e,		// 3  hubl("$third_background")
			  "$cta_background": #c40d1e,		// 4  hubl("$cta_background")
			  "$cta_color": #fff,				// 5  hubl("$cta_color")
			  "$cta2_background": #fff,			// 6  hubl("$cta2_background")
			  "$cta2_color": #4b4b4b,			// 7  hubl("$cta2_color")
			  "$cta3_background": #c40d1e,		// 4  hubl("$cta3_background")
			  "$cta3_color": #fff,				// 5  hubl("$cta3_color")
			  "$font_color": #4b4b4b,			// 10 hubl("$font_color")
			  "$font2_color": #616060,			// 11 hubl("$font2_color")
			  "$font": "Futura Std",				// 12 hubl("$font")
			  "$font2": "Minion Pro",				// 12 hubl("$font2")
			  "$basic_font_size": 16px			// 13 hubl("$basic_font_size")
			  );

// $variables : (
// 			  "$first_color": #003da8, 			// 1 hubl("$first_color")
// 			  "$second_color": #d457f2,			// 2 hubl("$second_color")
// 			  "$cta_background": #08991c,		// 3 hubl("$cta_background")
// 			  "$cta_color": #ea7500,			// 4 hubl("$cta_color")
// 			  "$cta_hover_background": #09d3ac,	// 5 hubl("$cta_hover_background")
// 			  "$cta_hover_color": #500993,		// 6 hubl("$cta_hover_color")
// 			  "$main_font_color": fuchsia,		// 7 hubl("$main_font_color")
// 			  "$font": "Palanquin"				//   hubl("$font")
// 			  );
// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //


@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}