.va-pidas-resources {

	.no-results{
		font-size: 36px;
    font-weight: 600;
    color: #292935;
    line-height: 1.2;
    margin-top: 0px;
    text-align: center;
	}
	.hide-other-cat{
		display: none;
	}
	.show-by-cat{
		display: block;
	}
	// HERO BANNER
	
	.va-hero-banner{
		.mask{
			background-color: #000;
		}
	}

    // SIDEBAR
    .sidebar {
        .widget-type-simple_menu {
            ul {
                list-style: none;
                padding-left: 0px;
                li {
                    border-bottom: 1px solid #ebebeb;
                    padding: 15px 0px;
                    a {
                        position: relative;
                        display: block;
                        width: 100%;
                        color: hubl("$font2_color");
                        font-weight: 300;
                        &:hover {
                            color: hubl("$first_color");
                            border: none;
                        }
                        span {
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }
        }
    } 
    // LISTING
    .resources-item-wrapper {
        padding: 87px 0px 0px 0px;
        position: relative;
 		transition: 0.3s all;
 		&.search-in-progress{
 			&:after{
 				content: '';
 				position: absolute;
 				background-color: rgba(255,255,255, 0.7);
 				width: 100%;
 				height: 100%;
 				top:0px;
 				left:0px;
 			}
 		}
        
    }
    // PAGINATION
	.pagination {
        margin-bottom: 35px;
        ul {
            padding-left: 0px;
            list-style: none;
            li {
                display: inline-block;
                margin-right: 5px;
                border: 1px solid transparent;
                transition: all 0.3s linear;
                a {
                    color: hubl("$font_color");
                    display: block;
                    line-height: 26px;
                    height: 26px;
                    width: 25px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    &:hover {
                        border: none;
                        color: hubl("$first_color");
                        .fa{
                            color: hubl("$first_color");
                        }
                    }
                    .fa {
                        color: hubl("$font_color");
                    }
                }
                &:hover {
                    border: 1px solid hubl("$first_color");
                    
                }
            }
        }
        .disabled {
            display: none;
        }
        .active {
            background-color: hubl("$first_color");
            &:hover{
                a{
                    color: #fff;
                }
            }
            a {
                color: #fff;
            }
        }
    }
    .va-cta-box h4{
        margin-top:5px!important;
    }
        @media (max-width: 768px){
        .listing-container .row-fluid {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    @media (max-width: 768px){
    .row-fluid .span4{
        width:100%;
    }
      .row-fluid .span8{
             width: 100%;
        }
}
    

    @media (max-width: 1139px) and (min-width: 769px){
        .row-fluid .span8{
             width: 62.811966%;
        }
        .row-fluid .span8{
            margin-left: 5.564103%;
        }
        .row-fluid .span4{
                width: 31.623931624%;
        }

    }
 
    @media (min-width: 1280px){
        .listing-container{
            .row-fluid .span8{
            width: 62.811966%;
        }
        .row-fluid .span8{
            margin-left: 5.564103%;
        }
          .row-fluid .span4{
                width: 31.623931624%;
        }
    }
    }

}