.va-001-home {

	/* GLOBALS */
	.body-container-wrapper {
		margin-bottom: 47px;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 20px 0;
	}

	.va-offer-box__body h2 {
		margin-top: 10px;
	}

	section {
		position: relative;
		width: 100%;
		float: left;
		margin: 45px auto;
	}


	/* LAYOUT */
	.lead-section {
		margin-top: 90px;
		margin-bottom: -35px;

		&__left-group {
			
			.widget-type-header {

				h3 {
					margin: 0 0 15px;
				}
			}

			.widget-span {
				max-width: 300px;
			}
		}

	}

	.action-slider-section {
		text-align: center;


		.widget-type-header, .widget-type-rich_text {
			max-width: 510px;
			margin: auto;
			float: none;
		}
	}

	.va-testimonial-slider {
		margin-bottom: 0;
		float: none;
	}

	.va-text-video-modal {
		margin-top: 0;
	}

	.classic-section {
		text-align: center;

		.container {
			max-width: 780px;
		}
	}
}





@media (max-width: 991px) {

	.va-001-home {

		.lead-section {

			&__left-group {
				width: 100%;
				margin-bottom: 50px;
			
				.widget-span {
					max-width: none;
				}
			}

			&__right-group {
				width: 100%;
				margin-left: 0;
			}
		}
	}
}





@media (max-width: 767px) {

	.va-001-home {

		section {
			margin: 20px auto;
		}

		.body-container-wrapper {
			margin-bottom: 20px;
		}

		.lead-section {
			margin-top: 75px;
			margin-bottom: -10px;
		}

		.va-testimonial-slider {
			margin-bottom: 20px;
		}

		.va-text-video-modal {
			margin-top: 20px;
		}
	}
}