.va-104-about-us {
	.va-image-and-text,  {
		margin: 60px 0 65px;
		float: left;
		img {
			width: 100%;
			margin-top: 5px;
		}
	}
	.action-slider-wrapper {
		margin: 30px 0 3px 0;
	}
	.va-action-slider {
		margin: 50px 0 120px;
		text-align: center;
	}
	.va-testimonial-slider {
		margin-top: 80px;
	}

	.section-header {
		text-align: center;
		h3 {
			font-weight: 700;
			margin-bottom: 20px;
		}
		h6 {
			margin: 0 auto;
			max-width: 500px;
		}
	}
	.widget-type-rich_text, .hs_cos_wrapper_type_rich_text {
		ul {
            margin-top: 21px;
            margin-bottom: 30px;
			li {
				font-weight: 200;
                margin-bottom: 23px;
			}
		}
	}
}
