.va-privacy-policy{
	counter-reset: section;

	.content-page{
		padding: 80px 0px;
		@media (max-width: 767px){
			padding: 60px 0px;
	    }
		h3:before {
		    counter-increment: section;
		    content: counter(section) ". ";
		}
		.widget-type-widget_container span > div{
			&:last-child{
				.va-privacy-policy-row{
					.right{
						padding-bottom: 0px;
					}
				}	
			}
		} 
	}
}


