.va-case-study-page-single{

	.va-hero-banner {
		display: block;
		.content{
			position: relative;
			z-index: 3;
			text-align: center;
			padding: 100px 15px 200px 15px;
			@media (max-width: 767px){
				padding: 80px 15px 200px 15px;
		    }
		    @media (max-width: 560px){
				padding: 80px 15px 200px 15px;
		    }
			@media (max-width: 450px){
				padding: 100px 10px;
		    }
		    @media (max-width: 350px){
				padding: 60px 10px;
		    }
			h1{
				margin-top: 0px;
				line-height: 64px;
				padding: 0 55px;
				@media (max-width: 450px){
					padding: 0px 20px;
			    }
			}
			h2{
				 display: none;
			}
		}
	}


	.blue-section{
		background-color:  hubl("$first_color");
		width: 100%;
		padding: 82px 0px;
		.va-image-and-text{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 1024px){
				flex-direction: column;
		    }
			& > div{
				width: 50%;
				@media (max-width: 1024px){
					width: 100%;
					margin-left: 0px;
			    }
			    img{
			    	box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.56);
					border-radius: 5px;
					text-align: center;
					@media (max-width: 1024px){
						margin-top: 20px;
						

				    }
			    }
			    &:last-child{
			    	text-align: right;
			    	@media (max-width: 1024px){
						text-align: center;
				    }
			    }
			}
			.widget-type-rich_text{
				padding-right: 40px;
				h2,h3{
					font-size: 36px;
					margin-top: 0px;
					color: #fff;
				}
				ul,
                ol {
                    margin-left: 30px;
                    color: #fff;
                    margin-top: 21px;
                    margin-bottom: 21px;
                    li {
                        font-weight: 200;
                        margin-bottom: 23px;
                        &:before {
                            color: #fff;
                            padding-left: 10px;
                        }
                    }
                }
				p{
					color: #fff;
				}
				
			}
		}
	}
	.slider-wrapper{
		padding: 85px 0px;
		.va-hero-slide-two-section{
			margin-bottom: 70px;
		}
		.slider-content{
			//margin-bottom: 40px;
			.slick-slide {
				outline: none !important;
			}
			.va-slick-dots {
			    bottom: -30px;
			    button {
                    width: 9px;
                    height: 9px;
                    margin: 5px 3.5px;
                }
			}
			.slick-next, .slick-prev {
			    font-size: 16px;
			    line-height: 18px;
			    top: calc(100% + 20px);
			    bottom: 0px;
			    width: auto;
			    height: 20px;
			    margin-top: -10px;
			    cursor: pointer;
			    color: hubl("$font_color");
			    border: none;
			    outline: 0;
			    background: 0 0;
			    z-index: 30;
			    transition: all 0.3s linear;
			    &:hover{
			    	color: hubl("$first_color");
			    }
			}
			.slick-arrow:before,.slick-arrow:after {
			    font-size: 16px;
			    line-height: 1;
			    opacity: .75;
			    color: hubl("$font_color");
			    bottom: 0px;
			    transition: all 0.3s linear;
			}
			.slick-arrow:before {
			    font-size: 16px;
			    line-height: 1;
			    opacity: .75;
			    color: hubl("$font_color");
			    bottom: 0px;
			}
			.slick-next:before{
			    content: '';
			}
			.slick-next{
				right: 0px;
				&:after{
				   content: '\f101';
				   font-family: 'FontAwesome';
				   margin-left: 5px;
				   opacity: 1;
				   line-height: 1;
    			   font-size: 16px;
				}
				&:hover{
					&:after{
						color: hubl("$first_color");
						opacity: 1;
					}
				}
			}
			.slick-prev{
				left: 0px;
				&:before{
					content: '\f100';
					font-family: 'FontAwesome';
					margin-right: 5px;
				}
				&:hover{
					&:before{
						color: hubl("$first_color");
						opacity: 1;
					}
				}
			} 	
		}
	}
}

