.va-105-product {


	// NEW PIDAS 

	.va-text-image-section{
		margin-top: 0px;
		margin-bottom: -60px;
		.left .cont {
    		max-width: 600px;
    	}
	}

	.lead-section-big .lead-section__right-group{
		padding-left: 40px;
		// margin-top: 73px;
		@media(max-width: 767px){
			padding-left: 0px;
			margin-top: 0px;
		}
	}

	/* GENERAL */
	.body-container-wrapper {
		overflow-x: hidden;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 20px 0;
	}

	section, .va-testimonial-video-slider {
		position: relative;
		width: 100%;
		float: left;
		margin: 45px auto;

		&.va-hero-banner {
			margin: 0;
		}
	}



	/* LAYOUT */
	.va-hero-banner {

		.content {
			padding-bottom: 150px;
			max-width: 900px;
			padding: 28px 15px;
			h1 {
				margin-top: 0px;
				margin-bottom: 15px;
				@media(max-width: 645px){
					font-size: 30px;
				}
			}
			h2{
				padding-top: 65px;
				font-size: 30px;
				@media(max-width: 645px){
					font-size: 24px;
					padding-top: 40px;
				}
				&:before{
					width: 120px;
				}
			}
		}
	}

	.va-image-slider {
		margin-top: -160px;
		@media(max-width: 645px){
			margin-top: 30px;
		}
	}

	.lead-section {
		margin-top: 70px;
		margin-bottom: 20px;
		text-align: center;

		.container {
			max-width: 780px;
		}
	}
	.lead-section-big{
		h3{
			margin-top: 0px;

			margin-top: 20px;
    margin-bottom: 50px;
			@media (max-width: 767px){
				margin-top: 30px;
			}
		}
		.va-offer-box-group > .hs_cos_wrapper_type_widget_container{
			justify-content: space-between;
			@media (max-width: 767px){
				display: flex;
			}
		}
.va-offer-box-group--col-6 .hs_cos_wrapper_type_custom_widget{
	width: 47%;
	margin-bottom: 30px;
	@media (max-width: 640px){
				width: 100%;
				margin-bottom: 0px;
			}
}

	}
	.features-section {
		text-align: center;

		.widget-type-cta {
			margin-top: 20px;
		}
	}

	.text-image-section {

		&__left-group {

			.widget-type-header {
				margin-top: 50px;
			}

			.cta_button {
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}

		&__right-group {

			.widget-type-linked_image {

				a {
					cursor: pointer;

					&:hover {

						img {
							transform: scale(1.011);
						}
					}
				}

				img {
					position: relative;
					transition: all .3s ease-in-out;
					max-width: 100vw;
				}

				img:not(.canvas-shadow) {
					filter: drop-shadow(0 4px 8px rgba(0,0,0,.17));
				}
			}
		}
	}

	.classic-section {
		text-align: center;

		.container {
			max-width: 780px;
		}
	}

	.va-text-background {
		margin-bottom: 0;

		&__rich-text {

			h4 {
				margin-top: 0;
			}
		}
	}



}

// IE 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .va-105-product .va-image-slider .slick-track {
        height: 600px; // for IE
    } 
}
// EDGE
@supports (-ms-ime-align:auto) { 
    .va-105-product .va-image-slider .slick-track{
        height: 600px; // for IE
    } 
}

@media (max-width: 767px) {
	.va-105-product {

		section {
			margin: 20px auto;
		}

		.va-testimonial-video-slider {
			margin-top: 25px;
		}

		.lead-section {
			margin-top: 45px;
		}

		.features-section {

			.widget-type-cta {
				margin-bottom: 20px;
			}
		}

		.text-image-section {

			.container {

				& > .span12 {

					& > .row-fluid-wrapper {

						& > .row-fluid {
							display: flex;
							flex-direction: column;
						}
					}
				}
			}

			&__left-group {

				.widget-type-header {

				}

				.cta_button {

				}
			}

			&__right-group {
				order: -1;

				.widget-type-linked_image {

					img {
						max-width: 100%;		
					}
				}
			}
		}
	}
}