.va-company{
	.content-text{
		text-align: center;
		padding: 56px 15px;
		max-width: 950px;
		margin: 0 auto;
		width: 100%;
		@media (max-width: 767px){
	        padding: 28px 0px;
	    }
	    img{
	    	margin: 20px auto;
	    }
	}
	.slider-wrapper{
		.slider-content{
			.slick-slide {
				outline: none !important;
			}
			.va-slick-dots{
				bottom: 42px;
			}
		}
	}
	.va-text-background{
		&__background-text{
			font-weight: 700;
			letter-spacing: 2px;
            user-select: none; 
            margin-left: 25%;
        }
    }

    .va-slick-dots{
    	button{
    		width: 9px;	
    		height: 9px;
    		margin: 4px;
    	}
    }
}
