.va-solutions{
	background-color: #fff;
	.feed-box-wrapper{
		width: 100%;
		height: 100%;
		.flex-wrap > span{
			position: relative;
			z-index: 10;
			top: -110px;
			margin-bottom: -110px;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			@media (max-width: 767px){
		        flex-direction:column;
		        align-items: center;
		    }
		}
	}
	.content-text{
		padding: 80px 0px;
		text-align: center;
		h3{
			margin-top: 5px;
			margin-bottom: 20px;
			padding: 0 200px;
			@media (max-width: 1024px){
				padding: 0 100px;
		    }
		    @media (max-width: 767px){
				padding: 0px;
		    }

		}
		p{
			padding: 0 200px;
			&:last-child{
				margin-bottom: 0px;
			}
			@media (max-width: 1024px){
				padding: 0 100px;
		    }
		    @media (max-width: 767px){
				padding: 0px;
		    }
		}
	}
	.content-text-image{
		padding: 80px 0px;
		background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/images/Solutions%20Page/iphone-mockup_03.png');
		background-repeat: no-repeat;
		background-position-x: 95%;
		background-position-y: bottom;
		background-size: auto;

	}
	.pricing-section{
		padding: 20px 0px 100px 0px;
		@media (max-width: 1024px){
			padding-top: 0px;
	    }
		.flex-wrap>span{
			display: flex;
			justify-content: center;;
			align-items: center;
			@media (max-width: 1024px){
				flex-direction: column;
		    }
			div{
				&:first-child{
					.va-pricing-wrapper{
						margin-top: 0px;
					}
				}
				&:last-child{
					.va-pricing-wrapper{
						margin-bottom: 0px;
					}
				}
			}
		}
	}
}