.va-case-study-page{
	// CONTENT  
	.case-study-wrapper{
		padding: 48px 0px 0px 0px;

		@media (max-width: 767px){
			padding: 40px 0px 0px 0px;
	    }
	    .categories-list-wrapper{
	    	ul{
	    		display: flex;
	    		justify-content: center;
	    		flex-wrap: wrap;
	    		margin-top: 26px;
	    		margin-bottom: 72px;
	    		li{
	    			margin: 10px 40px;
	    			cursor: pointer;
					transition: all 0.3s linear;
					position: relative;
					color: hubl("$second_color");
					font-weight: 300;
	    			@media (max-width: 767px){
						margin: 10px 20px;
				    }
				    @media (max-width: 480px){
						margin: 10px 10px;
				    }
	    			&.active{
						color: hubl("$first_color");
						&:after{
							content: "";
							display: block;
							width: 100%;
							height: 1px;
							background-color: hubl("$first_color");
							position: absolute;
							left:0;
							bottom:0;
						}

					}
					&:after{
						content: "";
						display: block;
						width: 0px;
						height: 1px;
						background-color: hubl("$first_color");
						position: absolute;
						left:0;
						bottom:0;
						transition: all 0.3s linear;
					}
					&:hover{
						color: hubl("$first_color");
						&:after{
							width: 100%;
						}
					}
	    		}
	    	}
	    }

	    .box-listing{
	    	display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;		
			transition: opacity 0.5s ease-in-out;
			margin-bottom: 50px;
			.post-item-wrapper{
					width: 33.3%;
					//padding-bottom: 33.3%;
					@media (max-width: 1024px){
						width: 50%;
						//padding-bottom:  50%;
						
				    }
				    @media (max-width: 624px){
						width: 100%;
						//padding-bottom: 100%;
				    }

				.post-item{

					width: 96%;
					padding-bottom: 96%;
					background-position: center center;
					background-size: cover;
					display: table;
					position: relative;
					z-index: 0;
					margin: 0 auto;
					margin-bottom: 15px;
					overflow: hidden;
				    .mask-img{
						position: absolute;
						z-index: 1;
						width: 100%;
						height: 100%;
						background-color: rgba(51,51,51, 0.6);
				    }
					.content{
						position: absolute;
						z-index: 3;
						text-align: center;
						h3{
							font-size: 26px;
							display: block;
							a{
								color: #fff;
								opacity: 1;
							}
							@media (max-width: 350px){
								font-size: 22px;
						    }
						}
						p{
							color: #fff;
						}
						.more-link{
							&:visited,
							&:focus,
							&:active {
							  color: hubl("$cta2_color");
							 }
							 @media (max-width: 350px){
								padding: 15px 25px; 
						    }
						}
					}
				}		
			}
			
			
			/* ******** HOVER ******** */
	
			.post-item{
			  &:hover .mask {
			    &.hover-left {
			      left: 0;
			      bottom: 0;
			      height: 100%;
			      width: 100%;
			      -webkit-transition: width 0.3s ease-in-out;
			      -o-transition: width 0.3s ease-in-out;
			      -moz-transition: width 0.3s ease-in-out;
			      transition: width 0.3s ease-in-out;
			      -webkit-transition-delay: 0s;
			      -moz-transition-delay: 0s;
			      -o-transition-delay: 0s;
			      transition-delay: 0s;
			    }
			    &.hover-right {
			      right: 0;
			      bottom: 0;
			      height: 100%;
			      width: 100%;
			      -webkit-transition: width 0.3s ease-in-out;
			      -o-transition: width 0.3s ease-in-out;
			      -moz-transition: width 0.3s ease-in-out;
			      transition: width 0.3s ease-in-out;
			      -webkit-transition-delay: 0s;
			      -moz-transition-delay: 0s;
			      -o-transition-delay: 0s;
			      transition-delay: 0s;
			    }
			    &.hover-top {
			      left: 0;
			      top: 0;
			      height: 100%;
			      width: 100%;
			      -webkit-transition: height 0.3s ease-in-out;
			      -o-transition: height 0.3s ease-in-out;
			      -moz-transition: height 0.3s ease-in-out;
			      transition: height 0.3s ease-in-out;
			      -webkit-transition-delay: 0s;
			      -moz-transition-delay: 0s;
			      -o-transition-delay: 0s;
			      transition-delay: 0s;
			    }
			    &.hover-bottom {
			      left: 0;
			      bottom: 0;
			      height: 100%;
			      width: 100%;
			      -webkit-transition: height 0.3s ease-in-out;
			      -o-transition: height 0.3s ease-in-out;
			      -moz-transition: height 0.3s ease-in-out;
			      transition: height 0.3s ease-in-out;
			      -webkit-transition-delay: 0s;
			      -moz-transition-delay: 0s;
			      -o-transition-delay: 0s;
			      transition-delay: 0s;
			    }
			  }
			  .mask {
			    position: absolute;
			    height: 0px;
			    width: 0px;
			    background: hubl_rgba("$first_color",0.7);
			    z-index: 2;
			    overflow: hidden;
			    &.hover-left {
			      left: auto;
			      bottom: auto;
			      height: 100%;
			      width: 100%;
			    }
			    &.hover-right {
			      right: auto;
			      bottom: auto;
			      height: 100%;
			      width: 100%;
			    }
			    &.hover-top {
			      left: auto;
			      top: auto;
			      height: 100%;
			      width: 100%;
			    }
			    &.hover-bottom {
			      left: auto;
			      bottom: auto;
			      height: 100%;
			      width: 100%;
			    }
			    &.hide-left {
			      left: 0;
			      bottom: 0;
			      top: auto;
			      right: auto;
			      height: 100%;
			      width: 0%;
			      -webkit-transition: width 0.3s ease-in-out;
			      -o-transition: width 0.3s ease-in-out;
			      -moz-transition: width 0.3s ease-in-out;
			      transition: width 0.3s ease-in-out;

			    }
			    &.hide-right {
			      right: 0;
			      bottom: 0;
			      top: auto;
			      left: auto;
			      height: 100%;
			      width: 0%;
			      -webkit-transition: width 0.3s ease-in-out;
			      -o-transition: width 0.3s ease-in-out;
			      -moz-transition: width 0.3s ease-in-out;
			      transition: width 0.3s ease-in-out;
			    }
			    &.hide-top {
			      left: 0;
			      top: 0;
			      height: 0%;
			      width: 100%;
			      -webkit-transition: height 0.3s ease-in-out;
			      -o-transition: height 0.3s ease-in-out;
			      -moz-transition: height 0.3s ease-in-out;
			      transition: height 0.3s ease-in-out;
			    }
			    &.hide-bottom {
				      left: 0;
				      bottom: 0;
				      height: 0%;
				      width: 100%;
				      -webkit-transition: height 0.3s ease-in-out;
				      -o-transition: height 0.3s ease-in-out;
				      -moz-transition: height 0.3s ease-in-out;
				      transition: height 0.3s ease-in-out;
				    }
				  }
			  	.content {
			  		top: 50%;
			  		left: 50%;
			  		transform: translate(-50%,-50%); 
			  		width: 100%;
			  		//max-height: 100px;
			  		overflow: hidden;
			  		padding: 0px 20px;
			  		transition: 0.6s max-height linear;
				      &.visible {
				      	max-height: 500px!important;
				      	padding-bottom: 5px;
				      }
			    }
			}
		}

		.pagination {
	        width: 100%;
	        text-align: center;
	        margin: 8px 0px 80px 0px;
	        .disabled {
	            display: none;
	        }
	        li {
	            display: inline-block;
	            background-color: #fff;
	            a {
	                border-radius: 0px;
	                overflow: hidden;
	                color: hubl("$font_color");
	                display: block;
	                border: solid 1px transparent;
	                height: 27px;
	                width: 26px;
	                line-height: 27px;
	                text-align: center;
	                font-size: 16px;
	                overflow: hidden;
	                margin: 0 3px;
	                font-weight: 400;
	                i{
	                	 color: hubl("$font_color");
	                }
	                &:hover {
	                    border: solid 1px hubl('$cta_background');
	                    color: hubl('$cta_background');
	                    i{
	                    	color: hubl('$cta_background');
	                    }
	                }
	            }
	            &.active {
	                a {
	                    background-color: hubl('$cta_background');
	                    border: solid 1px hubl('$cta_background');
	                    color: #fff;

	                }
	            }
				

	        }
    	}
	}
}