.va-contact {
  .contact-form-wrapper {
    padding-bottom: 70px;
    .container {
      > div {
        float: none
      }
    }
    .widget-type-header {
      h3 {
        text-align: center;
        margin: 55px 0;

        @media (max-width: 767px) {
          text-align: left;
          margin: 40px 0;
        }
      }
    }
    .widget-type-form {
      span {
        h3 {
          display: none;
        }
      }
      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        > div {
          flex-basis: calc(50% - 15px);
          @media (max-width: 767px) {
            flex-basis: 100%;
          }
          > label {
            display: none;
          }
          ul {
            list-style: none;
            li {
              label {
                text-align: center;
                display: block;
                font-size: 13px;
                line-height: 18px;
              }
            }
          }
        }
        > div.hs_message {
          flex-basis: 100%;
        }
        .input {
          margin-bottom: 20px;
          .hs-input {
            color: #000;
          }
        }
        textarea {
          min-height: 140px;
          resize: none;
        }
      }
    }
  }
}
