.va-landing-page-long-ebook {
	.va-quick-subscribe {


		// background-color: rgba(darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24), 0.5);
  //       background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
  //       background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(20%, rgba(255,255,255,0)), color-stop(20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24)), color-stop(100%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24)));
  //       background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
  //       background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
  //       background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
  //       background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
  //       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24)', GradientType=0 );
	

       
    /* FIX by DAWID */  
 background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, hubl_rgba('$first_color',1) 20%, hubl_rgba('$first_color',1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, hubl_rgba('$first_color',1) 20%, hubl_rgba('$first_color',1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, hubl_rgba('$first_color',1) 20%, hubl_rgba('$first_color',1) 100%);



    /* FIX end by DAWID */  
    }


    /* FIX by DAWID */  
    .container { 
    position: relative;
    z-index: 10;
}

    /* FIX end by DAWID */  
    .va-offer-box__body {
        h2 {
            font-size: 23px;
        }
    }

    .va-text-movie-modal-small {
        padding-top: 20px;
    }

}
