.lp-pidas-ebook {
	
	// 
    .va-hero-lp-ebook {
        padding-top:60px;
    	position: relative;
    	.text{
			margin-top:  82px;
    	}
        .curve1 {
        	transform: rotate(0deg);
        	top:0px;
        	left:0px;
        	width: 100%;
        	height: calc(100% - 80px);
        	position: absolute;
            .curve2 {
                display: none;
            }
        }
    }

	//
	.va-quick-subscribe{
			&:after{
				display: none;
			}
		.trapeze1{
			display: none;
		}
		.trapeze2{
			display: none;
		}
	}
    &.shortened{
       
        .va-hero-lp-ebook{
                            margin-bottom: 80px;

            .text{
                // margin-bottom: 0px;
                .cta_button.scroll-to-form{
                    margin-top:  30px;
                }
            }
            .curve1{
                height: 100%;
            }
        }
        .title-offer-box{
            margin-bottom: 30px;
            h2{
               color: hubl("$second_color");
               font-size: 36px;
                font-weight: 600;
                margin-top: 0px;
            }
        }
    }
    
}