.pidas-career-jobvideo {

	.pidas-lead-text {
		margin-bottom: 40px;
		text-align: center;

		.container {
			max-width: 900px;
		}

		p {
			font-size: 24px;
			font-weight: 400;
			font-family: $font_family_second;
		}
	}
}