.typ-pidas {
	
	// 
    .va-hero-lp-ebook {
    	position: relative;
    	height:inherit!important;
    	.content{
	    	padding-top:60px;
	    	padding-bottom:60px;
		}
    	margin-bottom: 20px;
    	.text{
			margin-top:  82px;
    	}
        .curve1 {
        	transform: rotate(0deg);
        	top:0px;
        	left:0px;
        	width: 100%;
        	height: calc(100% - 80px);
        	position: absolute;
            .curve2 {
                display: none;
            }
        }
    }



    .border-bot{
		border: none;
		display: block;
		width: 95%;
		margin: 10px auto 0px auto;
		/* border-bottom: 1px solid #d7d7d7; */
	}
	.flex-content {
		padding: 0px 0px 95px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 950px){
			flex-direction: column;
		}
		& > div:first-child{
			@media (max-width: 950px){
				order: 3;
				width: 100%;
			}
		}
		.cta-wrapper{
			min-width: 395px;
			margin: o auto;
			@media (max-width: 430px){
				min-width: 290px;
			}
			.va-cta-box{
				.content{
					padding: 18px 35px;
					a{
						padding: 19px 56px;
					}
				}
				h4{
					line-height: 40px;
				}
			}
			
		}
		.content-wrapper{
			padding-left:  55px;
			@media (max-width: 950px){
				padding-left:  0px;
				padding-bottom: 40px;
			}
			h3{
				margin-top: 0px;
			}
		}
	}
}