.va-thank-you{
	.va-hero-lp-ebook{
		//padding-top: 95px;
				//padding-bottom: 40px;
		min-height: 750px;
		margin-bottom: 30px;
		.container{
			.text{
				width: 60%;
				padding-right: 20px;
				margin-top: 130px;
				margin-bottom: 200px;
				@media (max-width: 767px){
					width: 100%;
					padding-right: 0px;
					margin-bottom: 20px;
					margin-top: 60px;
				}
				h1{
					margin-top: 0px;
				}
				.cta_button{
					margin-top: 30px;
					padding: 19px 73px;
				}
			}
			.span1{
				display: none;
				width: 0px;
			}
			.cover{
				width: 40%;
				text-align: center;
				margin-left: 0px;
				margin-top: 70px;
				@media (max-width: 767px){
					text-align: center;
					width: 100%;
					margin-bottom: 40px;
				}
				img{
					box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.45);
					margin-top: 0px;
					text-align: center;

					
				}
		}
		}
	}
	.border-bot{
		border: none;
		display: block;
		width: 95%;
		margin: 10px auto 0px auto;
		border-bottom: 1px solid #d7d7d7;
	}
	.flex-content {
		padding: 95px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 950px){
			flex-direction: column;
		}
		& > div:first-child{
			@media (max-width: 950px){
				order: 3;
				width: 100%;
			}
		}
		.cta-wrapper{
			min-width: 395px;
			margin: o auto;
			@media (max-width: 430px){
				min-width: 290px;
			}
			.va-cta-box{
				.content{
					padding: 18px 35px;
					a{
						padding: 19px 56px;
					}
				}
				h4{
					line-height: 40px;
				}
			}
			
		}
		.content-wrapper{
			padding-left:  55px;
			@media (max-width: 950px){
				padding-left:  0px;
				padding-bottom: 40px;
			}
			h3{
				margin-top: 0px;
			}
		}
	}
}