.va-subscription-settings-confirmation {

	.confirmation-section {
		margin: 100px 0;
		min-height: 30vh;

		.page-header {
			h2 {
				font-size: 18px;
				color: hubl("$first_color");
			}

			p {
				font-size: 16px;
			}
		}
	}
}