.va-subscription-settings-backup {

	.backup-section {
		margin: 100px 0;
		min-height: 30vh;

		.page-header {
			h1 {
				font-size: 36px;
				line-height: 1;
				color: hubl("$font_color");
				font-weight: 500;
			}

			p {
				font-size: 16px;
			}
		}

		#email-prefs-form {

			h3 {
				font-size: 18px;
			}

			.email-edit {
				max-width: 100%;
				margin-bottom: 20px;
			}

			#submitbutton {
				border: none;
				background-color: transparent;
				font-size: 18px;
				color: #fff;
			}
		}
	}
}