.va-error-page {

	.error-section {
		padding: 120px 0;
		background-color: #f1f1f1;
		text-align: center;

		h1 {
			color: hubl("$font_color");
			margin-bottom: 0;
		}

		.widget-type-cta {
			margin-top: 35px;
		}

	}
}