.va-subscription-settings-update {

	.va-hero-banner {

		.content {

			h2 {
			    font-size: 48px;
			    font-weight: 600;
			    color: #FFF;
			    margin-top: 0;
			    margin-bottom: 20px;
			}
		}
	}

	.user-deteails-section {
		margin-top: 120px;
		margin-bottom: 45px;

		.container {
			max-width: 900px;
		}

		.page-header {
			text-align: center;

			h1 {
				font-size: 36px;
				color: hubl("$font_color");
				margin-bottom: 40px;
				font-weight: 600;
			}

			h2 {
				font-size: 18px;
				color: hubl("$first_color");
				margin: 20px 0 10px;
			}

			p {
				font-size: 18px;
				font-weight: 300;
			}
		}

		.email-prefs {
			display: none;
		}
	}

	.forms-section {
		margin: 45px 0 0;
		padding: 70px 15px;
		background-color: hubl("$first_color");

		.page-header {
			display: none;
		}

		.email-prefs {

			.header {
				font-size: 36px;
				color: #fff;
				font-weight: 500;
			}

			& > .header {
				margin: 50px 0;
			}

			.verify {
				position: static;
			}

			.item {
				margin: 30px 0;
				padding-left: 30px;

				p {
					margin: 0;
					margin-left: 13px;
				}

				.item-inner {
					background-color: transparent;
					border-radius: 0;
					border: 0;
					cursor: auto;
					padding: 0 15px;
					position: relative;

					* {
						color: #fff;
					}

					&.hovered {
						box-shadow: none;
					}

					&.selected {
						input[type="checkbox"] {
							+ span:after {
			            		content: "\f14a";
			            		color: #fff;
			            		font-size: 17px;
			        		}
						}

					}

					.checkbox-row {
						overflow: visible;
					}
				}

				input[type="checkbox"] {
					opacity: 0;
					z-index: 2;
					font-size: 16px;
					display: inline-block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0px;
			        + span {
			            margin-left: 12px;
			            position: relative;
			            font-weight: 600;
			            &:before {
			                content: "\f0c8";
			                position: absolute;
			                top: 6px;
			                left: -24px;
			                font-family: "FontAwesome";
			                color: hubl("$first_color");
			                font-size: 15.5px;
			            }
			            &:after {
			                content: "\f096";
			                position: absolute;
			                top: 6px;
			                left: -25px;
			                font-family: "FontAwesome";
			                color: #fff;
			                transition: color 0.3s, box-shadow 0.3s;
			                font-size: 18.5px;
			                line-height: 0.8;
			            }
			            &:hover:after {
			                color: #D6D5D5;
			                box-shadow: 0px 4px 5.82px 0.18px rgba(35, 31, 32, 0.09);
			                cursor: pointer;
			            }
			        }
			        &:checked + span:after {
			            content: "\f14a";
			            color: #fff;
			            font-size: 17.5px;
			            top: 5px;
			        }
				}
			}

			.subscribe-options {
				margin: 60px 0 20px;

				* {
					color: #fff;
				}

				.header {
					margin-bottom: 20px;
					margin-left: 0;
				}
				
				p {
					position: relative;
				}

				label[for="globalunsub"] {
					padding-left: 30px;
				}

				#globalunsub {
					opacity: 0;
					z-index: 2;
					font-size: 16px;
					display: inline-block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0px;
			        + span {
			            margin-left: 12px;
			            position: relative;
			            font-weight: 600;
			            &:before {
			                content: "\f0c8";
			                position: absolute;
			                top: 6px;
			                left: -24px;
			                font-family: "FontAwesome";
			                color: hubl("$first_color");
			                font-size: 15.5px;
			            }
			            &:after {
			                content: "\f096";
			                position: absolute;
			                top: 6px;
			                left: -25px;
			                font-family: "FontAwesome";
			                color: #fff;
			                transition: color 0.3s, box-shadow 0.3s;
			                font-size: 18.5px;
			                line-height: 0.8;
			            }
			            &:hover:after {
			                color: #D6D5D5;
			                box-shadow: 0px 4px 5.82px 0.18px rgba(35, 31, 32, 0.09);
			                cursor: pointer;
			            }
			        }
			        &:checked + span:after {
			            content: "\f14a";
			            color: #fff;
			            font-size: 17.5px;
			            top: 5px;
			        }
				}
			}

			.cta_button {
				margin-left: 40px;
			}

			#submitbutton {
				border: none;
				background-color: transparent;
				font-size: 18px;
				color: inherit;

			}
		}



		.widget-type-form {
			& > .layout-widget-wrapper {
			    padding: 35px 50px 60px;
				background-color: #fff;
				box-shadow: 0px 10px 30px 0px rgba(41, 41, 53, 0.3);

				.form-title {
					margin-top: 0;
					text-align: center;
				}
			}
		}
	}
}

// fix - no check input
#email-prefs-form .verify:after{
	display: none;
}
// 

@media (max-width: 767px) {

.va-subscription-settings-update {

	.forms-section {
		padding: 30px 15px 70px;

		.widget-type-email_subscriptions {
			margin-bottom: 70px;
		}
	}
}


}







