.va-resources {
    .no-post {
        margin-top: 0px;
        text-align: center;
    }
    .va-cta-box {
        span {
            font-weight: 300;
        }
        h4 {
            margin-top: -8px;
            margin-bottom: 15px;
        }
        .cta {
            margin-bottom: 3px;
            .cta_button {
                padding: 19px 33px;
            }
        }
    }
    /* ************************ */
    /* ***** BLOG LISTING ***** */
    /* ************************ */
    .listing-container > div {
        @extend .container;
    }
    /* zmiana kolejnosci blokow < 767 */
    .listing-container {
        .row-fluid {
            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
            }
            .sidebar {
                order: 3;
            }
        }
    }
    /* ------- */
    .blog-listing-wrapper {
        padding: 87px 0px 0px 0px;
        @media (max-width: 767px) {
            padding: 60px 0px 0px 0px;
        }
        .post-item {
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 30px;
            margin-bottom: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            @media (max-width: 600px) {
                flex-direction: column;
            }
            .thumb {
                min-width: 200px;
                height: 190px;
                background-size: cover;
                background-position: center center;
                position: relative;
                @media (max-width: 600px) {
                    min-width: 100%;
                }
                .icon {
                    background-color: hubl("$first_color");
                    width: 61px;
                    height: 61px;
                    border-radius: 50%;
                    position: absolute;
                    top: -14px;
                    right: -28px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.35);
                    @media (max-width: 600px) {
                        top: 14px;
                        right: 14px;
                    }
                }
            }
            .content {
                margin-left: 60px;
                @media (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 20px;
                }
                h3 {
                    margin-top: 0px;
                    font-size: 22px;
                    font-weight: 400;
                    a {
                        color: hubl("$font_color");
                        font-weight: 500;
                    }
                }
                p {
                    display: block;
                }
                a.more-link {
                    line-height: 24px;
                    font-weight: 600;
                    transition: all 0.3s linear;
                    position: relative;
                    display: inline-block;
                    @media (max-width: 479px) {
                        order: 1;
                        margin-bottom: 20px;
                    }
                    &:after {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 2px;
                        background-color: hubl("$first_color");
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transition: all 0.3s linear;
                    }
                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    /* ************************ */
    /* ****** PAGINATION ****** */
    /* ************************ */
    .blog-pagination {
        margin-bottom: 35px;
        ul {
            padding-left: 0px;
            list-style: none;
            li {
                display: inline-block;
                margin-right: 5px;
                border: 1px solid transparent;
                transition: all 0.3s linear;
                a {
                    color: hubl("$font_color");
                    display: block;
                    line-height: 26px;
                    height: 26px;
                    width: 25px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    &:hover {
                        border: none;
                        color: hubl("$first_color");
                        .fa{
                            color: hubl("$first_color");
                        }
                    }
                    .fa {
                        color: hubl("$font_color");
                    }
                }
                &:hover {
                    border: 1px solid hubl("$first_color");
                    
                }
            }
        }
        .disabled {
            display: none;
        }
        .active {
            background-color: hubl("$first_color");
            &:hover{
                a{
                    color: #fff;
                }
            }
            a {
                color: #fff;
            }
        }
    }
    /* ************************ */
    /* ****** SINGLE BLOG ***** */
    /* ************************ */
    .va-hero-banner-blog-v2 {
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
            position: relative;
            z-index: 3;
            text-align: center;
            padding: 190px 0px;
            @media (max-width: 767px) {
                padding: 50px 20px;
            }
        }
        &.listing {
            .content {
                padding: 180px 0px;
            }
        }
    }
    .single-post-page {
        width: 100%;
    }
    .post-body {
        padding: 59px 0px 0px 0px;
        //border-bottom: 1px solid #ebebeb;
        @media (max-width: 767px) {
            padding: 50px 0px 0px 0px;
        }
        .main-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 0px;
            @media (max-width: 1024px) {
                flex-direction: column;
                margin-top: 25px;
            }
            a {
                line-height: normal;
            }
            .content-body {
                width: 65%;
                padding-right: 25px;
                @media (max-width: 1024px) {
                    width: 100%;
                    padding-right: 0px;
                }
            }
            .text-section {
                width: 35%;
                margin-top: 0px;
                @media (max-width: 1024px) {
                    width: 100%;
                    margin-top: 10px;
                }
                p {
                    strong {
                        color: hubl("$font_color");
                    }
                }
                a {
                    //	font-weight: 400;
                }
            }
        }
        h2 {
            margin-bottom: 0px;
            span {
                color: hubl("$second_color");
                font-size: 36px;
                font-weight: 600;
            }
        }
    }
    /* ****** BLUE SECTION ***** */
    .blue-section {
        margin-top: 50px;
        background-color: hubl("$first_color");
        width: 100%;
        padding: 70px 0px 60px 0px;
        background-position: center center;
        background-size: cover;
        position: relative;
        z-index: 1;
        .mask {
            background-color: hubl("$first_color");
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .blue-section-inner {
            position: relative;
            z-index: 3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 1024px) {
                flex-direction: column;
            }
            & > div {
                width: 50%;
                @media (max-width: 1024px) {
                    width: 100%;
                    &:first-child {
                        order: 2;
                    }
                }
            }
            .left {
                text-align: left;
                @media (max-width: 1024px) {
                    text-align: center;
                }
                img {
                    margin-bottom: -60px;
                    @media (max-width: 1024px) {
                        margin-top: 40px;
                    }
                }
            }
            .right {
                padding-left: 5px;
                @media (max-width: 1024px) {
                    padding-left: 0px;
                }
                h2 {
                    font-size: 36px;
                    margin-top: 0px;
                    color: #fff;
                }
                ul,
                ol {
                    margin-left: 30px;
                    color: #fff;
                    margin-top: 21px;
                    margin-bottom: 21px;
                    li {
                        font-weight: 200;
                        margin-bottom: 23px;
                        &:before {
                            color: #fff;
                            padding-left: 10px;
                        }
                    }
                }
                p {
                    color: #fff;
                }
            }
        }
    }
    /* ****** SLIDER SECTION ***** */
    .hero-wrapper-resources {
        padding: 85px 0px;
        .va-hero-slide-two-section {
            align-items: flex-start;
            margin-bottom: 60px;
        }
        .va-image-slider {
            margin-bottom: 40px;
            .left {
                width: 65%;
                padding-left: 5px;
                @media (max-width: 1024px) {
                    width: 100%;
                }
                h3 {
                    margin-top: 0px;
                }
            }
            .right {
                width: 35%;
                padding-right: 5px;
                @media (max-width: 1024px) {
                    width: 100%;
                    padding-left: 0px;
                }
                .va-cta-box {
                    margin-left: 20px;
                    @media (max-width: 1024px) {
                        margin-left: 0px;
                        margin-top: 30px;
                    }
                    span {
                        font-weight: 300;
                    }
                    h4 {
                        margin-top: -8px;
                        margin-bottom: 15px;
                    }
                    .cta {
                        margin-bottom: 3px;
                        .cta_button {
                            padding: 19px 33px;
                        }
                    }
                }
            }
            .slick-slide {
                outline: none !important;
            }
            .va-slick-dots {
                bottom: -30px;
                button {
                    width: 9px;
                    height: 9px;
                    margin: 5px 3.5px;
                }
            }
            .slick-next,
            .slick-prev {
                font-size: 16px;
                line-height: 18px;
                top: calc(100% + 20px);
                bottom: 0px;
                width: auto;
                height: 20px;
                margin-top: -10px;
                cursor: pointer;
                color: hubl("$font_color");
                border: none;
                outline: 0;
                background: 0 0;
                z-index: 30;
                transition: all 0.3s linear;
                &:hover {
                    color: hubl("$first_color");
                }
            }
            .slick-arrow:before {
                font-size: 16px;
                line-height: 1;
                opacity: .75;
                color: hubl("$font_color");
                bottom: 0px;
                transition: all 0.3s linear;
            }
            .slick-next:before {
                content: '';
            }
            .slick-next {
                right: 5px;
                &:after {
                    content: '\f101';
                    font-family: 'FontAwesome';
                    margin-left: 5px;
                    opacity: 1;
                    line-height: 1;
                    font-size: 16px;
                }
                &:hover {
                    &:after {
                        color: hubl("$first_color");
                        opacity: 1;
                    }
                }
            }
            .slick-prev {
                left: 5px;
                &:before {
                    content: '\f100';
                    font-family: 'FontAwesome';
                    margin-right: 5px;
                    opacity: 1;
                }
                &:hover {
                    &:before {
                        color: hubl("$first_color");
                        opacity: 1;
                    }
                }
            }
        }
    }
    /* ************************ */
    /* ******** SIDEBAR ******* */
    /* ************************ */
    .sidebar {
        padding: 87px 0px;
        @media (max-width: 767px) {
            padding: 50px 0px 40px 0px;
        }
        .sidebar-item {
            margin-bottom: 30px;
            h3 {
                margin-top: 0px;
                font-size: 23px;
                font-weight: 400;
                margin-bottom: 10px;
            }
            .search-blog {
                input {
                	font-family: hubl("$font");
                    border: none;
                    outline: none;
                    font-size: 14px;
                    font-weight: 300;
                    border: 1px solid #d6d5d5;
                    color: #000;
                    margin-top: 0px;
                    padding-left: 18px;
                    height: 48px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border-radius: 0;
                    background-repeat: no-repeat;
                    background-position-x: 95%;
                    background-position-y: 50%;
                    &:active,
                    &:focus {
                        border: 1px solid hubl("$first_color");
                        box-shadow: 0px 4px 5.82px 0.18px rgba(35, 31, 32, 0.13);
                    }
                    &::-ms-clear {
                        display: none;
                    }
                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: hubl("$font_color");
                    }
                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        color: hubl("$font_color");
                    }
                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        color: hubl("$font_color");
                    }
                    &:-moz-placeholder {
                        /* Firefox 18- */
                        color: hubl("$font_color");
                    }
                }
                .input-wrapper {
                    position: relative;
                    .serach-icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        content: "";
                        display: block;
                        background-image: url('https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/search-icon-small.png');
                        background-repeat: no-repeat;
                        background-position: 35% center;
                        width: 48px;
                        height: 48px;
                        cursor: pointer;
                    }
                }
            }
            .hs_cos_wrapper_type_post_filter {
                ul {
                    list-style: none;
                    padding-left: 0px;
                    li {
                        border-bottom: 1px solid #ebebeb;
                        padding: 15px 0px;
                        a {
                            position: relative;
                            display: block;
                            width: 100%;
                            color: hubl("$font2_color");
                            font-weight: 300;
                            &:hover {
                                color: hubl("$first_color");
                                border: none;
                            }
                            span {
                                position: absolute;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
