

.va-blog-main{
	.no-post{
		margin-top: 0px;
		text-align: center;
	}
	/* ************************ */
	/* ***** BLOG LISTING ***** */
	/* ************************ */
	.blog-listing-wrapper{
		padding: 87px 0px 0px 0px;
		@media (max-width: 767px){
			padding: 40px 0px 0px 0px;
	    }
		.post-item{
			border-bottom: 1px solid #ebebeb;
			padding-bottom: 30px;
			margin-bottom: 40px;
			.thumb{
				width: 100%;
				min-height:345px;
				background-size: cover;
				background-position: center center;
				position: relative;
				z-index: 1;
				.mask{
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.35);
					z-index: 2;
					display: block;
					box-shadow: inset 0px -90px 68px -30px rgba(0,0,0,0.55);
					transition: all 0.3s linear;
					// roboczo
					box-shadow: none; 
				background: rgba(0,0,0,0.4);
					&:hover{
						background-color: hubl("$first_color");
						opacity: 0.82;
						box-shadow: none;
						border: none;
					}
				}
				.conntent-thumb{
					position: absolute;
					z-index: 3;
					bottom: 0px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					color: #fff;
					@media (max-width: 479px){
						flex-direction: column;
						align-items: flex-start;
						height: 100%;
						//background:red;
						pointer-events: none;
				    }
					.post-date{
						margin: 15px;
						flex-shrink: 0;
						span{
							text-transform: uppercase;
						}
					}
					.topic-list{
						margin: 15px;
						span{
							padding-right: 5px;
						}
						a{
							color: #fff;
							margin-left: 5px;
							font-size: 16px;
							font-weight: 400;
							&:hover{
								border:none;
								text-decoration: none;
							}
						}
					} 
				}
			}
			h3{
				font-size: 23px;
				margin-bottom: 0px;
				font-weight: 600; 
				line-height: normal;
				margin-top: 31px;
				margin-bottom: 20px;
				a{
					transition: all 0.3s linear;
					color: #000;
					font-weight: 600;
					&:hover{
						color: hubl("$first_color");
						border: none;
						text-decoration: none;
					}
				}

			}
			p{
				margin-top: 10px;
				margin-bottom: 20px;
				color: hubl("$font2_color");
				font-size: 18px;
				line-height: 1.777;
				font-weight: 400;
			}
			.more{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				// justify-content: flex-end; // na zyczenia klienta
				.social-share{
					display: block;
					span{
						margin-right:10px; 
						font-weight: 300;
					}
					a{
						margin: 5px 10px 5px 5px; 
						i{
							font-size: 18px;
							color: hubl("$first_color");
							font-weight: 400;
						}
						&:hover{		
								opacity: 0.6;

						}
					}
				}
				a.more-link{
					//border-bottom: 1px solid transparent;
					line-height: 24px;
					font-weight: 600;
					transition: all 0.3s linear;
					position: relative;
					@media (max-width: 479px){
					//	order: 1;
						//margin-bottom: 20px;
				    }
					&:after{
						content: "";
						display: block;
						width: 0px;
						height: 2px;
						background-color: hubl("$first_color");
						position: absolute;
						left:0;
						bottom:0;
						transition: all 0.3s linear;
					}
					&:hover{
						//border-color: hubl("$first_color");
						text-decoration: none;
						&:after{
							width: 100%;

						}
					}
				}
			}
		}
	} 
	/* ************************ */
	/* ****** PAGINATION ****** */
	/* ************************ */
	.blog-pagination{
		margin-bottom: 35px;
		ul{
			padding-left: 0px;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 5px;
				border: 1px solid transparent;
				transition: all 0.3s linear;
				a{
					color: hubl("$font_color");
				    display: block;
				    line-height: 27px;
				    height: 27px;
				    width: 24px;
				    text-align: center;
				    font-size: 16px;
				    font-weight: 400;
				    i{
				    		color: hubl("$font_color");
				    }
				    &:hover{
						border: none;
						text-decoration: none;
				    }
				}
				&:hover{
					border: 1px solid hubl("$first_color");
					
				}

			}

		}
		.disabled{
			display: none;
		}
		.active{
			background-color: hubl("$first_color");
			a{
				color: #fff;
			}
		}
	}
	/* ************************ */
	/* ****** SINGLE BLOG ***** */
	/* ************************ */
	.post-body{
		padding: 87px 0px 51px 0px;
		border-bottom: 1px solid #ebebeb;
		@media (max-width: 767px){
			padding: 50px 0px 87px 0px;
	    }
		.thumb{
			width: 100%;
			min-height:345px;
			background-size: cover;
			background-position: center center;
			position: relative;
			z-index: 0;
			.mask{
				position: absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.1);
				z-index: 1;
				box-shadow: inset 0px -90px 68px -30px rgba(0,0,0,0.55);
				transition: background-color 0.3s linear;
				// roboczo
				box-shadow: none; 
				background: rgba(0,0,0,0.4);

			}
			.conntent-thumb{
				position: absolute;
				z-index: 2;
				bottom: 0px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: #fff;
				@media (max-width: 479px){
					flex-direction: column;
					align-items: flex-start;
					height: 100%;
			    }
				.post-date{
					margin: 15px;
					flex-shrink: 0;
					span{
						text-transform: uppercase;
					}
				}
				.topic-list{
					margin: 15px;
					span{
						padding-right: 10px;
					}
					a{
						color: #fff;
						margin-right: 5px;
						font-size: 16px;
						font-weight: 300;
						&:hover{
							border:none;
						}
					}
				} 
			}
		}
		h2,h1{
			margin-top: 24px;
			margin-bottom: 20px;
			font-size: 23px;
			span{
				color: hubl("$second_color");
				font-size: 23px;
				font-weight: 600;

			}
		}
		.content{
			color: hubl("$font_color");
			font-weight: 200;
			p{
				 line-height: 1.5em;
				margin: 20px 0px;
				  
				&:first-child{
					margin-top: 5px;
				}
			}
			p,ol,ul,span{
				color: hubl("$font2_color");
				font-size: 18px;
				line-height: 1.777;
				font-weight: 400;
			}
			a{
				font-size: 18px;
			}
			blockquote{
				background-color: hubl("$first_color");
				color: #fff;
				margin: 0;
				padding: 65px 50px;
				font-size: 18px;
				font-style: normal;
				text-align: center;
				position: relative;
				overflow: hidden;
				font-weight: 400;
				// font-family: hubl("$font2");
				&:before{
					content: "";
					background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/quotation-icon.png');
					position: absolute;
					left: -2px;
					bottom: -30px;
					width: 165px;
					height: 116px;
					opacity: 0.2;
				}
				&:after{
					content: "";
					background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/quotation-icon.png');
					position: absolute;
					right: -2px;
					top: -30px;
					width: 165px;
					height: 116px;
					opacity: 0.2;
					transform: rotate(180deg);

				}
			}
			ul,
            ol {
            	color: hubl("$font2_color");
                margin-left: 30px;
                margin-top: 21px;
                margin-bottom: 21px;
                li {
                    font-weight: 400;
                    margin-bottom: 23px;
                    &:before {
                        padding-left: 0px;
                        font-weight: 600;
                    }
                }
            }
          	.special-count{
          		counter-reset: special-counter;
          		ol{
          			list-style-type: none;
          		}
          		li:before {
					content: counter(special-counter)". ";;
					counter-increment: special-counter;
				
					width: 32px;
					text-align: right;
					left: -15px;
				}
          	}
		}
		.back-to-listing{
			margin-top: 51px;
			margin-bottom: 0px;
			.back{
				position: relative;
				font-weight: 400;
				padding: 20px 20px 20px 50px;
				border: 1px solid  hubl("$first_color");
				display: inline-block;
				text-decoration: none;
			    border-radius: 0px;
			    outline: none;
			appearance: none;
				&:before{
					position: absolute;
					left: 5px;
					top:3px;
					
										content: "\e901";
					display: block;
					font-family: 'VanadylIcons';
				    font-size: 50px;
				}
				&:hover{
					background-color: hubl("$first_color");
					color: #fff;
				}
			}
		}
		.social-share{
			display: block;
			padding: 35px 0px 50px 0px;
			span{
				margin-right:10px; 
				font-weight: 400;
			}
			a{
				margin: 5px 10px 5px 5px; 
				i{
					font-size: 18px;
					color: hubl("$first_color");
				}
				&:hover{		
						opacity: 0.6;
				}
			}
		}
		.author-wrapper{
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 20px;

			border: 1px solid #ebebeb;
			@media (max-width: 550px){
				flex-direction: column;
			}
			.avatar{
				min-width: 140px;
				height: 140px;
				background-size: cover;
			}
			.content{
				margin-left: 20px;
				@media (max-width: 550px){
					margin-left: 0px;
					margin-top: 20px;
				}
				h5{
					color: hubl("$second_color");
					margin: 0px 0px 10px 0px;
				}
				p{
					margin-top: 0px;
					font-weight: 300;

				}
			}
			.social{
				margin: 0px 0px 20px 0px;
				li{
					display: inline-block;
					margin-bottom: 10px;
					margin-right: 10px;
					transition: 0.3s opacity;
					&:hover{
						opacity: 0.6;
					}
					&:last-child{
						margin-right: 0px;
					}
					a{
						outline: none;
						display: block;
						
						
					}
					i{
						font-size: 20px;
					}
				}
			}
		}
	}
	/* ************************ */
	/* ******* COMMENTS ******* */
	/* ************************ */
	.comment-wrapper{ 
		margin-top: 30px;
		margin-bottom: 70px;
		h2{
			color: hubl("$font_color");
			font-size: 23px;	
			font-weight: 400;
			margin-bottom: 30px;	
		}
		#comments-listing{
			.comment{
				margin-top: 30px;
				padding-top: 0;
				border: none;
				h4{
					font-size: 18px;
					font-weight: 400;
					margin:0;
				}
				.comment-date{
					display: block;
				}
				button{
					font-size: 14px;
					color: hubl("$first_color");
					cursor:pointer;
					padding-right: 0;
					margin-left: 5px;
					position: relative;
					&:after{
						content: "";
						display: block;
						width: 0px;
						height: 1px;
						background-color: hubl("$first_color");
						position: absolute;
						left:0;
						bottom:0;
						transition: all 0.3s linear;
					}
					&:hover{
						&:after{
							width: 100%;
						}
					}
				}
			}
		}
		form{
			.form-columns-2{
				& div:first-child{
					.input{
						margin-right: 14px;
						margin-left: 0px;
						@media (max-width: 400px){
							margin-right: 0px; 
						}
					}
				}
				& div:last-child{
					.input{
						margin-right: 0px;
						margin-left: 14px;
						@media (max-width: 400px){
							margin-left: 0px; 
						}
					}
				}
			}
			.form-columns-1{
				.input{
						margin-right: 0px; 
						
						input {
							width: 100% !important;
						}
					}
			}


			fieldset{
				max-width: 100%;
			}
			.hs-error-msgs, .hs-error-msgs a{
				font-size: 16px;
			}
			.hs-input {
			    width: 100%;
			}
			.hs-form-field{
				margin-bottom: 7px;	
			}
			input,textarea{
				
			        appearance: none;
			        border-radius:0;
			          padding: 12.5px;

			}
			textarea{
				min-height: 140px;
				width: 100%!important;

			}
			.cta-tertiary{
				margin: 4px 0px 0px 0px;
				background: hubl("$cta3_background");
				border: 1px solid hubl("$cta3_background");
		      
		        outline: none;
		        font-size: 16px;
		        appearance: none;
		        position: relative;
		        z-index: 10;
		        border-radius: 0;
		        padding: 0;
		        &:hover{
					background-color: #fff;
		        }
		        input[type="submit"] {
		        padding: 12.5px 42px;

		        }		
		    }
			@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px){
				.form-columns-2 .hs-form-field .hs-input, .form-columns-3 .hs-form-field .hs-input {
				    width: 100%;
				}
				
			}
		}
	}
		
	/* ************************ */
	/* ******** SIDEBAR ******* */
	/* ************************ */
	.sidebar{
		padding: 87px 0px 87px 30px;
		@media (max-width: 767px){
			padding: 50px 0px 40px 0px;
	    }
		.sidebar-item{
			margin-bottom: 60px; 
			h3{
				margin-top: 0px;
				font-size: 23px;
				font-weight: 400;
				margin-bottom: 30px;
			}
			.search-blog{
				input{
					font-family: hubl("$font");
			        border: none;
			        outline: none;
			        font-size: 14px;
			        font-weight: 300;
			        border: 1px solid #d6d5d5;
			        color: #000;
			        margin-top: 0px;
			        padding-left: 18px;
			        height: 48px;
			        -webkit-appearance: none;
			        -moz-appearance: none;
			        appearance: none;
			        border-radius:0;
			        background-repeat: no-repeat;
			        background-position-x: 95%;
			        background-position-y: 50%;
			        &:active,&:focus{
						border: 1px solid hubl("$first_color");
        				box-shadow: 0px 4px 5.82px 0.18px rgba(35, 31, 32, 0.13);
					}
					&::-ms-clear{
						display: none;
					}
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: hubl("$font_color");
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color: hubl("$font_color");
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color: hubl("$font_color");
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color: hubl("$font_color");
					}
				}
				.input-wrapper{
					position: relative;
					.serach-icon{
						position: absolute;
						top: 0;
						right: 0;
						content: "";
						display: block;
						background-image: url('https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/search-icon-small.png');
						background-repeat: no-repeat;
						background-position: 35% center;
						width: 48px;
						height: 48px;
						cursor: pointer;
					}
				}
			}
			.about-us{
				.hs_cos_wrapper_type_rich_text{
					p{
						font-size: 18px;
					    line-height: 1.777;
					    &:last-child{
					    	margin-bottom: 0px;
					    }
					}
				}
				
			}
			.popular-posts{
				.single-post{
					position: relative;
					display: block;
					height: 82px;
					margin: 0px;
					transition: background-color 0.3s linear;
					background-color: #f7f7f7;
					.content{
						position: absolute;
						width: 100%;
						top: 50%;
						transform: translateY(-50%);
						padding-left: 79px;
						@media (max-device-width: 975px) and (min-device-width: 767px){
							padding-left: 10px;
						}
						h4{
							font-size: 18px;
							line-height: 20px;
							margin-bottom: 0px;
							margin-top: 0px;
							font-weight: 400;
							margin-bottom: 5px;
						}
						p{
							margin: 0px;
							font-weight: 200;
						}	
						&:before{
								display: block;
								position: absolute;
								left: 0;
								top: 50%;
								transform: translateY(-50%);
								content: "";
								background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/grey-pen-v2.png');
								width: 29px;
								height:32px;
								margin: 0px 25px;
								@media (max-device-width: 975px) and (min-device-width: 767px){
									display: none;
								}
							}
					}
					&:hover{
						background-color: hubl("$first_color");	
						h4,p{
							color: #fff;
						}	
						.content{
							&:before{
								background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/white-pen.png');
							}
						}	
					}
				}
			}
			.hs_cos_wrapper_type_post_filter {
				h3{
					margin-bottom: 0px;
				}
				ul{
					list-style: none;
					padding-left: 0px;
					li{
						border-bottom: 1px solid #ebebeb;
						padding: 20px 0px;
						a{
							position: relative;
							display: block;
							width: 100%;
							color: hubl("$font2_color");
							font-weight: 300;
							&:hover{
								color: hubl("$first_color");	
								border: none;
								text-decoration: none;
							}

							span{
								position: absolute;
								right: 0;
							}
						}
					}
				}
			}
			.hs_cos_wrapper_type_blog_subscribe{
				h3{
					margin-bottom: 17px;
				}
				form{
					background-color: hubl("$first_color");
					padding: 25px 30px;

					.hs-form-field{
						margin-bottom: 25px;	
					}
					input{
						-webkit-appearance: none;
					        -moz-appearance: none;
					        appearance: none;
					        border-radius:0;
					        padding: 12.5px 16.5px;

					}
					.hs_email{
						// margin-bottom: 10px;
					}
					.hs-error-msgs{
						padding-left: 0px;
						label{
							color: #fff;
							a{
								color: #fff;
							}
						}
						
					}
					.cta-tertiary{	
					    background-color: hubl("$cta2_background");
    					color: hubl("$cta2_color");
					    font-size: 16px;

						&:hover{
							background-color: transparent;
							color: #fff;
							border-color: #fff;
						}
					}
				}
			}
		}
	}
}





@media print { 
 
.sidebar,.comment-wrapper,.body-container-wrapper > div > div:first-child,.thumb,.header-container-wrapper,.back-to-listing,.va-cta-bar,.footer-container-wrapper, .author-wrapper .avatar {
		display: none!important;
		height:0px;
	}
	
 .blog-content-wrapper{
 	width: 100%!important;;
 }
}


























