.va-case-study{
	/* ************************ */
	/* ***** BLOG LISTING ***** */
	/* ************************ */

	// TOPIC LIST 
	.topic-listing{
		margin-top: 75px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		a{
			display: block;
			margin: 10px 40px 5px 40px;
			color: hubl("$font_color");
			position: relative;
			font-weight: 300;
			line-height: 24px;
			transition: all 0.3s linear;
			@media (max-width: 767px){
				margin: 10px 20px 5px 20px;
		    }
		    @media (max-width: 480px){
				margin: 10px 10px 10px 10px;
		    }
			.active{
				transition: all 0.3s linear;
				span{
					color: hubl("$cta_background");
					transition: all 0.3s linear;
				}
				&:after{
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					background-color: hubl("$first_color");
					position: absolute;
					left:0;
					bottom:0;
					transition: all 0.3s linear;
				}
			}
			&:after{
				content: "";
				display: block;
				width: 0px;
				height: 1px;
				background-color: hubl("$first_color");
				position: absolute;
				left:0;
				bottom:0;
				transition: all 0.3s linear;
			}
			&:hover{
				color: hubl("$first_color");
				&:after{
					width: 100%;
				}
			}
}
	}	

	// CONTENT 
	.case-study-wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 72px 0px 40px 0px;
		transition: opacity 0.5s ease-in-out;
		@media (max-width: 767px){
			// padding: 40px 0px 0px 0px;
	    }
		.post-item{
			width: 32%;
			padding-bottom: 32%;
			background-position: center center;
			background-size: cover;
			display: table;
			position: relative;
			z-index: 0;
			margin-bottom: 1em;
			overflow: hidden;
			@media (max-width: 1024px){
				width: 48%;
				padding-bottom: 48%;
				
		    }
		    @media (max-width: 624px){
				width: 100%;
				padding-bottom: 100%;
		    }
		    .mask-img{
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-color: rgba(51,51,51, 0.6);
		    }
			.content{
				position: absolute;
				z-index: 3;
				text-align: center;
				h3{
					font-size: 26px;
					a{
						color: #fff;
						opacity: 1;
					}
				}
				p{
					color: #fff;
				}
				.more-link{
					&:visited,
					&:focus,
					&:active {
					  color: hubl("$cta2_color");
					 }
				}
			}
		}
	}

	// PAGINATION

	.pagination {
        width: 100%;
        text-align: center;
        margin: 8px 0px 80px 0px;
        .disabled {
            display: none;
        }
        li {
            display: inline-block;
            background-color: #fff;
            a {
                border-radius: 0px;
                overflow: hidden;
                color: hubl("$font_color");
                display: block;
                border: solid 1px transparent;
                height: 27px;
                width: 26px;
                line-height: 27px;
                font-weight: 400;
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                i{
                	 color: hubl("$font_color");
                }
                &:hover {
                    border: solid 1px hubl('$cta_background');
                    color: hubl('$cta_background');
                    i{
                    	color: hubl('$cta_background');
                    }
                }
            }
            &.active {
                a {
                    background-color: hubl('$cta_background');
                    border: solid 1px hubl('$cta_background');
                    color: #fff;

                }
            }	
        }
    }


    /* ************************ */
	/* *****  SINGLE POST ***** */
	/* ************************ */	

	.single-post-body{
		padding-bottom: 60px;
		position: relative;
		z-index: 10;
		top: -270px;
		margin-bottom: -270px;
		@media (max-width: 600px){
			top: -170px;
			margin-bottom: -170px;
	    }
		@media (max-width: 400px){
			top: -100px;
			margin-bottom: -100px;
	    }
		.post-image{
			
			width: 100%;
			text-align: center;
		}
		.main-content{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: 50px;
			@media (max-width: 1024px){
				flex-direction: column;
				margin-top: 25px;
		    }
			.content-body{
				width: 65%;
				padding-right: 25px;
				@media (max-width: 1024px){
					width: 100%;
					padding-right: 0px;
			    }
				h2{
					font-size: 36px;
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
			.text-section{
				width: 35%;
				margin-top: 60px;
				@media (max-width: 1024px){
					width: 100%;
					margin-top: 10px;
			    }
				p{
					strong{
						color: hubl("$font_color");
					}
					a{
						line-height: 24px;
						font-weight: 600;
					}
				}
			}
		}
	}

	//

	.blue-section{
		background-color:  hubl("$first_color");
		width: 100%;
		padding: 82px 0px;
		.blue-section-inner{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 1024px){
				flex-direction: column;
		    }
			& > div{
				width: 50%;
				@media (max-width: 1024px){
					width: 100%;
			    }
			}
			.widget-type-rich_text{
				padding-right: 40px;
				@media (max-width: 1024px){
					padding-right: 0px;
			    }
				h2{
					font-size: 36px;
					margin-top: 0px;
					color: #fff;
				}
				ul,
                ol {
                    margin-left: 30px;
                    color: #fff;
                    margin-top: 21px;
                    margin-bottom: 21px;
                    li {
                        font-weight: 200;
                        margin-bottom: 23px;
                        &:before {
                            color: #fff;
                            padding-left: 10px;
                        }
                    }
                }
				p{
					color: #fff;
				}
				
			}
			.widget-type-linked_image{
				text-align: center;
				img{
					box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.56);
					border-radius: 5px;
					@media (max-width: 1024px){
						margin-top: 20px;
				    }
				}
			}
		}
	}

	.hero-wrapper{
		padding: 85px 0px;
		.va-image-slider{
			margin-bottom: 70px;
			.slick-slide {
				outline: none !important;
			}
			.va-slick-dots {
			    bottom: -73px;
			    button {
                    width: 9px;
                    height: 9px;
                    margin: 5px 3.5px;
                }
			}
			.slick-next, .slick-prev {
			    font-size: 16px;
			    line-height: 18px;
			    top: calc(100% + 20px);
			    bottom: 0px;
			    width: auto;
			    height: 20px;
			    margin-top: 33px;
			    cursor: pointer;
			    color: hubl("$font_color");
			    border: none;
			    outline: 0;
			    background: 0 0;
			    z-index: 30;
			    transition: all 0.3s linear;
			    &:hover{
			    	color: hubl("$first_color");
			    }
			}
			.slick-arrow:before,.slick-arrow:after {
			    font-size: 16px;
			    line-height: 1;
			    opacity: .75;
			    color: hubl("$font_color");
			    bottom: 0px;
			    transition: all 0.3s linear;
			}
			.slick-next:before{
			    content: '';
			}
			.slick-next{
				right: 0px;
				&:after{
				   content: '\f101';
				   font-family: 'FontAwesome';
				   margin-left: 5px;
				   opacity: 1;
				   line-height: 1;
    			   font-size: 16px;
				}
				&:hover{
					&:after{
						color: hubl("$first_color");
						opacity: 1;
					}
				}
			}
			.slick-prev{
				left: 0px;
				&:before{
					content: '\f100';
					font-family: 'FontAwesome';
					margin-right: 5px;
					opacity: 1;
				}
				&:hover{
					&:before{
						color: hubl("$first_color");
						opacity: 1;
					}
				}
			} 
		}
	}
}


.va-case-study{
	/* ******** HOVER ******** */
	.post-item{
	  &:hover .mask {
	    &.hover-left {
	      left: 0;
	      bottom: 0;
	      height: 100%;
	      width: 100%;

	      transition: width 0.3s ease-in-out;
	      transition-delay: 0s;
	    }
	    &.hover-right {
	      right: 0;
	      bottom: 0;
	      height: 100%;
	      width: 100%;

	      transition: width 0.3s ease-in-out;

	      transition-delay: 0s;
	    }
	    &.hover-top {
	      left: 0;
	      top: 0;
	      height: 100%;
	      width: 100%;

	      transition: height 0.3s ease-in-out;

	      transition-delay: 0s;
	    }
	    &.hover-bottom {
	      left: 0;
	      bottom: 0;
	      height: 100%;
	      width: 100%;
	      transition: height 0.3s ease-in-out;
	      transition-delay: 0s;
	    }
	  }
	  .mask {
	    position: absolute;
	    height: 0px;
	    width: 0px;
	    background: hubl_rgba("$first_color",0.7);
	    z-index: 2;
	    overflow: hidden;
	    &.hover-left {
	      left: auto;
	      bottom: auto;
	      height: 100%;
	      width: 100%;
	    }
	    &.hover-right {
	      right: auto;
	      bottom: auto;
	      height: 100%;
	      width: 100%;
	    }
	    &.hover-top {
	      left: auto;
	      top: auto;
	      height: 100%;
	      width: 100%;
	    }
	    &.hover-bottom {
	      left: auto;
	      bottom: auto;
	      height: 100%;
	      width: 100%;
	    }
	    &.hide-left {
	      left: 0;
	      bottom: 0;
	      top: auto;
	      right: auto;
	      height: 100%;
	      width: 0%;
	      transition: width 0.3s ease-in-out;

	    }
	    &.hide-right {
	      right: 0;
	      bottom: 0;
	      top: auto;
	      left: auto;
	      height: 100%;
	      width: 0%;
	      transition: width 0.3s ease-in-out;
	    }
	    &.hide-top {
	      left: 0;
	      top: 0;
	      height: 0%;
	      width: 100%;
	      transition: height 0.3s ease-in-out;
	    }
	    &.hide-bottom {
		      left: 0;
		      bottom: 0;
		      height: 0%;
		      width: 100%;
		      transition: height 0.3s ease-in-out;
		    }
		  }
	  	.content {
	  		top: 50%;
	  		left: 50%;
	  		transform: translate(-50%,-50%); 
	  		width: 100%;
	  		//max-height: 100px;
	  		overflow: hidden;
	  		padding: 0px 20px;
	  		transition: 0.6s max-height linear;
		      &.visible {
		      	max-height: 500px!important;
		      	padding-bottom: 5px;
		      }
	    }
	}
}

/* ************************ */








