/*NOWE STYLE MENU*/
.navigation-wrapper {
    width: 100%;
    background: transparent;
    position: fixed;
    z-index: 110;
    height: 0;
    right: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto
}

.navigation-wrapper .content {
    width: 100%;
    margin: 0 auto;
    max-width: 75rem;
    position: relative;
    height: 0
}

.navigation-wrapper .content:after,.navigation-wrapper .content:before {
    content: " ";
    display: table
}

.navigation-wrapper .content:after {
    clear: both
}

.navigation-wrapper a {
    outline: none;
    color: #8f8f91;
}

.block-language ul,.block-menu ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.block-language li,.block-menu li {
    padding: 0;
    margin: 0
}

.menu-navigation {
    -webkit-transition: width 0s;
    transition: width 0s;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
    height: 100vh;
    width: 0;
    min-height: 52.5rem;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.menu-navigation .nav-row {
    width: 100%;
    max-width: 45.5rem
}

.menu-navigation .region-language-switch ul {
    margin-left: -.875rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.menu-navigation .region-language-switch a {
    padding-right: .875rem;
    padding-left: .875rem
}

.menu-navigation a.is-active {
    color: #f5f5f5
}

@media only screen and (min-width: 54.063em) {
    .menu-navigation {
        -webkit-box-align:center;
        -ms-flex-align: center;
        align-items: center
    }

    .menu-navigation .nav-row {
        max-width: none
    }
}

.menu--is-opened .navigation-wrapper {
    height: 100%
}

.menu--is-opened .menu-navigation {
    padding: 3.5rem .875rem;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    width: 100%
}

.menu--is-opened .menu--primary li:first-child a,.menu--is-opened .menu--ternary li:first-child a {
    -webkit-transition-delay: .55s,0s;
    transition-delay: .55s,0s
}

.menu--is-opened .menu--primary li:nth-child(2) a,.menu--is-opened .menu--ternary li:nth-child(2) a {
    -webkit-transition-delay: .6s,0s;
    transition-delay: .6s,0s
}

.menu--is-opened .menu--primary li:nth-child(3) a,.menu--is-opened .menu--ternary li:nth-child(3) a {
    -webkit-transition-delay: .65s,0s;
    transition-delay: .65s,0s
}

.menu--is-opened .menu--primary li:nth-child(4) a,.menu--is-opened .menu--ternary li:nth-child(4) a {
    -webkit-transition-delay: .7s,0s;
    transition-delay: .7s,0s
}

.menu--is-opened .menu--primary li:nth-child(5) a,.menu--is-opened .menu--ternary li:nth-child(5) a {
    -webkit-transition-delay: .75s,0s;
    transition-delay: .75s,0s
}

.menu--is-opened .menu--primary li:nth-child(6) a,.menu--is-opened .menu--ternary li:nth-child(6) a {
    -webkit-transition-delay: .8s,0s;
    transition-delay: .8s,0s
}

.menu--is-opened .menu--secondary li:first-child a {
    -webkit-transition-delay: .65s,0s;
    transition-delay: .65s,0s
}

.menu--is-opened .menu--secondary li:nth-child(2) a {
    -webkit-transition-delay: .7s,0s;
    transition-delay: .7s,0s
}

.menu--is-opened .menu--secondary li:nth-child(3) a {
    -webkit-transition-delay: .75s,0s;
    transition-delay: .75s,0s
}

.menu--is-opened .menu--secondary li:nth-child(4) a {
    -webkit-transition-delay: .8s,0s;
    transition-delay: .8s,0s
}

.menu--is-opened .menu--secondary li:nth-child(5) a {
    -webkit-transition-delay: .85s,0s;
    transition-delay: .85s,0s
}

.menu--is-opened .menu--primary a,.menu--is-opened .menu--secondary a,.menu--is-opened .menu--ternary a {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.menu--is-opened .menu--primary .sub-menu--indicator:before {
    opacity: 1;
    -webkit-transition-delay: .5s,0s,0s,0s;
    transition-delay: .5s,0s,0s,0s
}

.menu--is-opened .menu--secondary:after,.menu--is-opened .menu--secondary:before {
    width: 100%;
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.menu--is-opened .menu--secondary:after {
    -webkit-transition-delay: .85s;
    transition-delay: .85s
}

.menu--is-opened .menu--ternary p {
    opacity: 1;
    -webkit-transition-delay: .7s;
    transition-delay: .7s
}

@media only screen and (min-width: 54.063em) {
    .menu--is-opened .navigation-wrapper {
        width:80%
    }
}

@media only screen and (min-width: 70.063em) {
    .menu--is-opened .navigation-wrapper {
        width:70%
    }
}

.menu--primary {
    padding: 1.75rem 0
}

.menu--primary * {
    color: #8f8f91
}

.menu--primary li {
    position: relative
}

.menu--primary a {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: color .1s,-webkit-transform .3s;
    transition: color .1s,-webkit-transform .3s;
    transition: transform .3s,color .1s;
    transition: transform .3s,color .1s,-webkit-transform .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-family: L Futura W01,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 2.625rem;
    font-weight: 700;
    display: block;
    width: 100%;
    line-height: 1.3333333333;
    text-transform: uppercase
}

.menu--primary a:focus,.menu--primary a:hover {
    color: #f5f5f5
}

@media only screen and (min-width: 40.063em) {
    .menu--primary a {
        font-size:3.5rem;
        line-height: 1.5
    }
}

.menu--primary .effect-wrapper {
    width: 100%;
    height: 3.5rem;
    overflow: hidden;
    position: relative;
    padding-right: 3.5rem
}

@media only screen and (min-width: 40.063em) {
    .menu--primary .effect-wrapper {
        height:5.25rem
    }
}

@media only screen and (min-width: 54.063em) {
    .menu--primary .effect-wrapper {
        width:calc(400px + 3.5rem)
    }
}

.menu--primary .sub-menu--indicator {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5rem;
    height: 3.5rem;
    outline: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none
}

@media only screen and (min-width: 40.063em) {
    .menu--primary .sub-menu--indicator {
        height:5.25rem
    }
}

.menu--primary .sub-menu--indicator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.menu--primary .sub-menu--indicator:before {
    -webkit-transition: opacity .4s,color .1s,-webkit-transform .2s;
    transition: opacity .4s,color .1s,-webkit-transform .2s;
    transition: opacity .4s,transform .2s,color .1s;
    transition: opacity .4s,transform .2s,color .1s,-webkit-transform .2s;
    position: relative;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0;
    font-size: 1.75rem;
    font-weight: 300;
    font-family: icons;
    content: "";
    color: #8f8f91
}

.menu--primary .sub-menu-1 {
    position: relative;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 0
}

.menu--primary .sub-menu-1 a {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: opacity .2s,color .1s,-webkit-transform .2s;
    transition: opacity .2s,color .1s,-webkit-transform .2s;
    transition: transform .2s,opacity .2s,color .1s;
    transition: transform .2s,opacity .2s,color .1s,-webkit-transform .2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s,0s,0s;
    transition-delay: 0s,0s,0s;
    font-family: Minion W01 Caption,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 1.75rem;
    font-weight: 400;
    font-style: italic;
    display: block;
    text-transform: none;
    width: 100%;
    line-height: 1.5;
    opacity: 0
}

.menu--primary .sub-menu-1 li:first-child a {
    -webkit-transition-delay: .25s,.25s,0s;
    transition-delay: .25s,.25s,0s
}

.menu--primary .sub-menu-1 li:nth-child(2) a {
    -webkit-transition-delay: .2s,.2s,0s;
    transition-delay: .2s,.2s,0s
}

.menu--primary .sub-menu-1 li:nth-child(3) a {
    -webkit-transition-delay: .15s,.15s,0s;
    transition-delay: .15s,.15s,0s
}

.menu--primary .sub-menu-1 li:nth-child(4) a {
    -webkit-transition-delay: .1s,.1s,0s;
    transition-delay: .1s,.1s,0s
}

.menu--primary .sub-menu-1 li:nth-child(5) a {
    -webkit-transition-delay: .05s,.05s,0s;
    transition-delay: .05s,.05s,0s
}

.menu--primary .sub-menu-1 li:nth-child(6) a {
    -webkit-transition-delay: 0s,0s,0s;
    transition-delay: 0s,0s,0s
}

@media only screen and (min-width: 54.063em) {
    .menu--primary .sub-menu-1 {
        top:1.3125rem;
        position: absolute;
        left: calc(400px + 3.5rem);
        height: auto;
        width: calc(400px - 3.5rem)
    }
}

.menu--primary .menu-item--expanded {
    overflow: hidden
}

@media only screen and (min-width: 54.063em) {
    .menu--primary .menu-item--expanded {
        overflow:visible
    }
}

.menu--primary .sub-menu--opened .sub-menu-1 {
    height: auto;
    margin-bottom: .875rem
}

.menu--primary .sub-menu--opened .sub-menu--indicator:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #f5f5f5
}

@media only screen and (min-width: 54.063em) {
    .menu--primary .sub-menu--opened .sub-menu--indicator:before {
        -webkit-transform:none;
        transform: none
    }
}

.menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .effect-wrapper *,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .effect-wrapper *,.menu--primary .sub-menu--opened .effect-wrapper * {
    color: #f5f5f5
}

@media only screen and (min-width: 54.063em) {
    .menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .sub-menu-1,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .sub-menu-1,.menu--primary .sub-menu--opened .sub-menu-1 {
        height:auto
    }
}

.menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .sub-menu-1,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .sub-menu-1,.menu--primary .sub-menu--opened .sub-menu-1 {
    z-index: 2
}

.menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .sub-menu-1 a,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .sub-menu-1 a,.menu--primary .sub-menu--opened .sub-menu-1 a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}

.menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .sub-menu-1 li:first-child a,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .sub-menu-1 li:first-child a,.menu--primary .sub-menu--opened .sub-menu-1 li:first-child a {
    -webkit-transition-delay: .05s,.05s,0s;
    transition-delay: .05s,.05s,0s
}

.menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .sub-menu-1 li:nth-child(2) a,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .sub-menu-1 li:nth-child(2) a,.menu--primary .sub-menu--opened .sub-menu-1 li:nth-child(2) a {
    -webkit-transition-delay: .1s,.1s,0s;
    transition-delay: .1s,.1s,0s
}

.menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .sub-menu-1 li:nth-child(3) a,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .sub-menu-1 li:nth-child(3) a,.menu--primary .sub-menu--opened .sub-menu-1 li:nth-child(3) a {
    -webkit-transition-delay: .15s,.15s,0s;
    transition-delay: .15s,.15s,0s
}

.menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .sub-menu-1 li:nth-child(4) a,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .sub-menu-1 li:nth-child(4) a,.menu--primary .sub-menu--opened .sub-menu-1 li:nth-child(4) a {
    -webkit-transition-delay: .2s,.2s,0s;
    transition-delay: .2s,.2s,0s
}

.menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .sub-menu-1 li:nth-child(5) a,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .sub-menu-1 li:nth-child(5) a,.menu--primary .sub-menu--opened .sub-menu-1 li:nth-child(5) a {
    -webkit-transition-delay: .25s,.25s,0s;
    transition-delay: .25s,.25s,0s
}

.menu--primary .menu-item--expanded:focus:not(.sub-menu--closed) .sub-menu-1 li:nth-child(6) a,.menu--primary .menu-item--expanded:hover:not(.sub-menu--closed) .sub-menu-1 li:nth-child(6) a,.menu--primary .sub-menu--opened .sub-menu-1 li:nth-child(6) a {
    -webkit-transition-delay: .3s,.3s,0s;
    transition-delay: .3s,.3s,0s
}

.menu--secondary {
    padding: 1.75rem 0
}

.menu--secondary * {
    color: #8f8f91
}

.menu--secondary li {
    height: 3.5rem;
    overflow: hidden
}

.menu--secondary a {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: color .1s,-webkit-transform .3s;
    transition: color .1s,-webkit-transform .3s;
    transition: transform .3s,color .1s;
    transition: transform .3s,color .1s,-webkit-transform .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-family: L Futura W01,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.75rem;
    display: block;
    width: 100%;
    line-height: 2;
    text-transform: uppercase
}

.menu--secondary a:focus,.menu--secondary a:hover {
    color: #f5f5f5
}

.menu--secondary:after,.menu--secondary:before {
    display: block;
    -webkit-transition: width .3s;
    transition: width .3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    content: "";
    width: 0;
    height: 1px;
    background-color: #616060
}

.menu--ternary * {
    color: #8f8f91
}

.menu--ternary a {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: color .1s,-webkit-transform .3s;
    transition: color .1s,-webkit-transform .3s;
    transition: transform .3s,color .1s;
    transition: transform .3s,color .1s,-webkit-transform .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    font-family: L Futura W01,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    display: block;
    width: 100%
}

.menu--ternary a:focus,.menu--ternary a:hover {
    color: #f5f5f5
}

.menu--ternary li {
    overflow: hidden
}

.menu--ternary p {
    margin-bottom: 0;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.menu--ternary .menu--footer {
    margin-top: 1.75rem
}

.menu--ternary .menu--footer li {
    height: 28px;
    margin: 0 .4375rem
}

.menu--ternary .menu--footer a {
    padding-top: 0;
    padding-bottom: 0
}

#navigation-clip {
    z-index: 103;
    position: absolute;
    right: 0;
    top: 0;
    left: 60%;
    pointer-events: none
}

.main-navigation-wrapper a {
    font-family: L Futura W01,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    color: #8f8f91;
    display: block;
    width: 100%;
    height: 74px;
    line-height: 74px
}

.main-navigation-wrapper a:focus,.main-navigation-wrapper a:hover {
    outline: none;
    border: none;
    color: #c40d1e
}

@media only screen and (min-width: 62em) {
    .main-navigation-wrapper a {
        height:90px;
        line-height: 90px
    }
}

.main-navigation-wrapper .menu-level-0>.menu {
    display: none
}

.main-navigation-wrapper .menu-item--active-trail a,.main-navigation-wrapper a.is-active {
    color: #c40d1e
}

.main-navigation-wrapper a.is-active:after {
    position: relative;
    top: -1.3125rem;
    width: 3.9375rem;
    display: block;
    margin: 0 auto;
    border-bottom: 3px solid #c40d1e;
    content: ""
}

.main-navigation-wrapper .block-language a.is-active:after {
    display: none
}

.main-navigation-wrapper .nav-row {
    width: 100%;
    margin: 0 auto;
    max-width: 75rem
}

.main-navigation-wrapper .nav-row:after,.main-navigation-wrapper .nav-row:before {
    content: " ";
    display: table
}

.main-navigation-wrapper .nav-row:after {
    clear: both
}

.main-navigation-wrapper .content {
    width: 100%;
    margin: 0 auto;
    max-width: 75rem;
    overflow: hidden;
    position: relative;
    height: 74px
}

.main-navigation-wrapper .content:after,.main-navigation-wrapper .content:before {
    content: " ";
    display: table
}

.main-navigation-wrapper .content:after {
    clear: both
}

.main-navigation-wrapper .content .region {
    width: 100%;
    display: table
}

.main-navigation-wrapper .content .region nav {
    width: 100%
}

@media only screen and (min-width: 62em) {
    .main-navigation-wrapper .content {
        height:90px
    }
}

.main-navigation-wrapper .menu-navigation ul {
    margin: 0 auto 1.0625rem;
    margin-left: -1.375rem;
    margin-right: 0;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.main-navigation-wrapper .menu-navigation ul>li {
    list-style: none;
    float: left;
    margin-left: 1.375rem;
    display: inline-block
}

.main-navigation-wrapper .menu-navigation ul>li>* {
    display: block
}

.main-navigation-wrapper .menu-navigation ul:not(.contextual-links) {
    display: table
}

.main-navigation-wrapper .menu-navigation ul li {
    margin: 0;
    padding: 0;
    display: table-cell
}

.main-navigation-wrapper .menu-navigation a {
    font-family: L Futura W01,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif
}

.main-navigation-wrapper .menu-navigation a:focus,.main-navigation-wrapper .menu-navigation a:hover {
    color: #c40d1e
}

.main-navigation-wrapper .menu-navigation .main-menu {
    padding-left: .9375rem;
    padding-right: .9375rem;
    width: 58.3333333333%;
    float: left
}

.main-navigation-wrapper .menu-navigation .main-menu a {
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    padding-left: .45rem;
    padding-right: .45rem
}

.main-navigation-wrapper .menu-navigation .main-menu .menu {
    float: right
}

.main-navigation-wrapper .menu-navigation .main-menu .active-trail:after {
    content: "";
    display: block;
    position: relative;
    top: -25px;
    border-bottom: 3px solid #c40d1e;
    width: 4em;
    margin: 0 auto
}

@media only screen and (min-width: 70.063em) {
    .main-navigation-wrapper .menu-navigation .main-menu {
        padding-left:.9375rem;
        padding-right: .9375rem;
        width: 66.6666666667%;
        float: left
    }

    .main-navigation-wrapper .menu-navigation .main-menu a {
        padding-left: 1rem;
        padding-right: 1rem
    }
}

.main-navigation-wrapper .menu-navigation .sub-menu {
    padding-left: 0;
    padding-right: 0;
    width: 41.6666666667%;
    float: left
}

.main-navigation-wrapper .menu-navigation .sub-menu ul {
    width: 100%
}

.main-navigation-wrapper .menu-navigation .sub-menu li {
    width: 50%;
    text-align: center
}

@media only screen and (min-width: 70.063em) {
    .main-navigation-wrapper .menu-navigation .sub-menu {
        padding-left:0;
        padding-right: 0;
        width: 33.3333333333%;
        float: left
    }
}

.main-navigation-wrapper .menu-navigation .secondary-menu {
    padding-left: 0;
    padding-right: 0;
    width: 66.6666666667%;
    float: left
}

.main-navigation-wrapper .menu-navigation .secondary-menu .region {
    width: 98%
}

@media only screen and (min-width: 70.063em) {
    .main-navigation-wrapper .menu-navigation .secondary-menu {
        padding-left:0;
        padding-right: 0;
        width: 75%;
        float: left
    }
}

.main-navigation-wrapper .menu-navigation .language-switch {
    padding-left: .9375rem;
    padding-right: .9375rem;
    width: 33.3333333333%;
    float: left
}

@media only screen and (min-width: 70.063em) {
    .main-navigation-wrapper .menu-navigation .language-switch {
        padding-left:0;
        padding-right: 0;
        width: 25%;
        float: left
    }
}

.main-navigation-wrapper .seperator {
    margin: 29px 0;
    height: 2rem;
    width: 2px;
    background-color: #dfdfdf
}

.brand-logo {
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 10;
    height: 0
}

.brand-logo .content {
    width: 100%;
    margin: 0 auto;
    max-width: 75rem;
    position: relative;
    height: 0
}

.brand-logo .content:after,.brand-logo .content:before {
    content: " ";
    display: table
}

.brand-logo .content:after {
    clear: both
}

.brand-logo a {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1.75rem 0 0 1rem
}

.brand-logo svg {
    height: 2.875rem;
    width: auto;
    display: block
}

@media only screen and (min-width: 62em) {
    .brand-logo a {
        width:30%
    }
}

.menu-theme--light #brand-logo--text * {
    fill: #fff
}

.menu-theme--dark #brand-logo--text *,.page-node-type-page #brand-logo--text * {
    fill: #4b4b4d
}

.hamburger-menu {
    width: 100%;
    height: 0;
    background: transparent;
    position: fixed;
    z-index: 110
}

.hamburger-menu .content {
    width: 100%;
    margin: 0 auto;
    max-width: 75rem;
    position: relative;
    height: 0
}

.hamburger-menu .content:after,.hamburger-menu .content:before {
    content: " ";
    display: table
}

.hamburger-menu .content:after {
    clear: both
}

.hamburger-menu a {
    float: right;
    z-index: 110;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    line-height: 1.75;
    font-size: 16px;
    color: #fff
}

.hamburger-menu .hamburger {
    display: inline-block;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
    background-color: #c40d1e
}

.menu--is-opened .hamburger-menu .hamburger {
    background-color: transparent
}

.shape-overlays-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    content: "";
    background-color: rgba(34,34,34,.7);
    z-index: 101
}

.menu--is-opened .shape-overlays-bg {
    opacity: 1;
    pointer-events: auto
}

.shape-overlays {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101
}

.menu--is-opened .shape-overlays {
    pointer-events: auto
}

.shape-overlays path:first-of-type {
    fill: #fff
}

.shape-overlays path:nth-of-type(2) {
    fill: #c40d1e
}

.shape-overlays path:nth-of-type(3) {
    fill: #4b4b4d
}

@media only screen and (min-width: 54.063em) {
    .shape-overlays {
        width:85vw
    }
}
