.resources-single-item {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 600px) {
        flex-direction: column;
    }
    .thumb {
        min-width: 260px;
        height: 190px;
        background-size: cover;
        background-position: center center;
        position: relative;
        @media (max-width: 600px) {
            min-width: 100%;
        }
        .icon {
            background-color: hubl("$first_color");
            width: 61px;
            height: 61px;
            border-radius: 50%;
            position: absolute;
            top: -14px;
            right: -28px;
            background-repeat: no-repeat;
            background-position: center center;
            box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.35);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items:center;
            @media (max-width: 600px) {
                top: 14px;
                right: 14px;
            }
            i{
            	color: #fff;
            	line-height: 61px;
            	font-size: 35px;
            }
            img{
            
            }
        }
    }
    .content {
        margin-left: 60px;
        @media (max-width: 600px) {
            margin-left: 0px;
            margin-top: 20px;
        }
        h3 {
            margin-top: 0px;
            font-size: 22px;
            font-weight: 400;
            a {
                color: hubl("$font_color");
                font-weight: 500;
            }
        }
        p {
            display: block;
        }
        a.more-link {
            line-height: 24px;
            font-weight: 600;
            transition: all 0.3s linear;
            position: relative;
            display: inline-block;
            @media (max-width: 479px) {
                order: 1;
                margin-bottom: 20px;
            }
            &:after {
                content: "";
                display: block;
                width: 0px;
                height: 2px;
                background-color: hubl("$first_color");
                position: absolute;
                left: 0;
                bottom: 0;
                transition: all 0.3s linear;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}