.va-3-blog-posts-section {
	position: relative;
	width: 100%;
	float: left;
	* {
		outline: 0;
	}
	.slick-slider {
		margin-bottom: 50px;
	}
	&__header {

		&-wrapper {
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			.mask {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: hubl_rgba('$first_color', .85);
			}

			.container {
				max-width: 510px;
			}
		}
		&-content {
			position: relative;
			color: #fff;
			padding: 70px 0 200px;
			text-align: center;

			h3, p, li {
				color: inherit;
			}
		}
	}
	&__posts-wrapper {
		position: relative;
		margin-top: -180px;

		.container {
			max-width: 1000px;
		}
	}
	&__slider {
		display: flex;
	}
	&__post {
		position: relative;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30px;
		margin-bottom: 20px;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&-image-link {
			display: block;

			&:hover {
				.va-3-blog-posts-section__post-image {
					background-size: auto 105%;
				}
			}
		}

		&-image {
			box-sizing: border-box;
			width: 100%;
			max-width: 300px;
			height: 300px;
			margin: 0 auto;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
			border: 5px solid #fff;
			transition: background-size .3s ease-in-out;
		}

		&-content {
			padding: 0 5px;
			max-width: 300px;
			margin: 0 auto;

			h4 {
				line-height: 1.21;
				font-weight: 600;
			}

			p {
				line-height: 1.5;
			}
		}

		&-read-more {
			position: absolute !important;
			font-size: 18px;
			display: inline-block;
			font-weight: 600;
			bottom: 0;
			left: 0;
			padding: 0 0 0 5px;
			margin-top: 20px;

			@extend .va-hover;

			&:after {
				left: 5px !important;
			}
		}
	}
}

@media (max-width: 991px) {
	.va-3-blog-posts-section {
		&__slider {
			display: block;
		}
		&__post {
			padding-bottom: 0;

			&-read-more {
				position: relative !important;
				padding: 0;

				&:after {
					left: 0 !important;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.va-3-blog-posts-section {
		&__header {
			&-content {
				padding: 45px 0 200px;
			}
		}
	}
}
