.va-action-slider {
	margin: 40px 0 60px;

	* {
		outline: 0;
	}

	.slick-slider {
		margin-bottom: 0;
	}

	.slick-initialized {

		.slick-slide {
			max-width: 380px;
			margin: 0 12.5px;
			opacity: .35;
			transform: scale(.9);
			transition: all .4s ease-in-out;

			.action-slide {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				min-height: 400px;
				padding: 50px 45px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;

				.mask {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: hubl_rgba("$first_color", 0);
					transition: background-color .4s ease-in-out;
				}

				&__content {
					position: relative;
					opacity: 0;
					transition: all .4s ease-in-out;

					h4 {
						font-size: 26px;
						color: #fff;
						line-height: 33px;
					}

					p {
						font-size: 16px;
						color: #fff;
						line-height: 24px;
					}

					.cta_button {
						margin-top: 15px;
					}
				}
			}

		&.slick-current {
			opacity: 1;
			transform: scale(1);

			.action-slide {

				.mask {
					background-color: hubl_rgba("$first_color", .85);
				}

				&__content {
					opacity: 1;
				}
			}
		}
		}
	}

	.va-slick-dots {
		bottom: -50px;
	}
}


@media (max-width: 767px) {

	.va-action-slider {
		margin-top: 20px;
	}
}



@media (max-width: 430px) {

	.va-action-slider {

		.slick-initialized {

			.slick-slide {
				max-width: none;
				margin: 0;
			}
		}
	}
}