.va-blog-subscription{
	width: 100%;
	min-height: 382px;
	background-color: hubl("$first_color");
	position: relative;
	z-index: 1;
	overflow:hidden; 
	.inner-wrapper{
		position: absolute;
		z-index: 2;
		top: 15px;
		left: 25%;
		@media (max-width: 767px){
	        left: 5%;  
	    }
		span{
			font-size: 310px;
			line-height: 310px;
			font-weight: 900;
			margin:0;
			opacity: 0.1;
			user-select: none;
		}
	}
	.mask{
		position: absolute;
		z-index: 2;
		top: 0;	
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hubl("$first_color");
	}
	.content{

		position: relative;
		z-index: 3;
		max-width: 1200px;
		padding: 0px 15px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding-top: 70px;
		h4{
			color: #fff;
			font-size: 35px;
			margin-top:0px;
			font-weight: 600;

		}
		form{
			display: none;
			.input{
				margin-bottom: 20px;

			}
			
			.hs-error-msgs{
				padding-left: 0px;
				text-align: left;
				@media (max-width: 540px){
			        margin-top: 10px;	  
			    }
			}
			display: flex;
			justify-content: center;
			align-items: flex-start;
			input{
				width: 560px;
				appearance: none;
				border-radius: 0;
				box-shadow: -10px 8px 25px 0px rgba(0,0,0,0.3);
				height: 52px;
				@media (max-width: 720px){
			        width: 400px;	  
			    }
			    @media (max-width: 540px){
			        width: 300px;
			        margin: 0;	  
			    }
			    @media (max-width: 400px){
			        width: 100%;
			        margin: 0;	  
			    }
			}
			/* test */ 
			.actions{
				position: relative;
				width:100px;
				height: 52px;
				background-color: #2b2a2b;

				&:after{
					position: absolute;
					content: "";
					display: block;
					background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/plain-icon2.svg');
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 32px 32px;
					top: 0px;
					left: 0px;
					width:100px;
					height: 52px;	
					transition: all 0.3s ease;	
				}
				&:hover {
					&:after{
						transform: rotate(30deg);

					}
				}
				@media (max-width: 440px){
			        width:70px;  
			        &:after{
			        	width:70px; 
			        }
			    }
			}
			/* ----- */
			button{
				cursor: pointer;
				display: block;
				width:100px;
				height: 52px;
				box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.3);
				border:none;
				outline: none;
				font-size: 0px;
				// background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/plain-icon.png');
				// background-repeat: no-repeat;
				// background-position: center center;
				transition: all 0.3s linear;
				position: relative;
				z-index: 5;
				background-color: transparent;
				@media (max-width: 440px){
			        width:70px;  
			    }
				
				
			}
		}
		
	}
}
