.va-counter-wrapper {
	position: relative;
	width: 100%;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 90px 0 60px;

	.mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hubl_rgba("$first_color", .85);
	}

	.container {
		display: flex;
		align-items: center;
	}

	.va-counter {
		position: relative;
		max-width: 300px;
		margin: 20px auto;
		padding: 0 15px;
		text-align: center;

		&:first-of-type {
			margin-left: 0;
			padding-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
			padding-right: 0;
		}

		&__number {
			display: block;
			font-size: 57px;
			line-height: 1.1;
			font-weight: bold;
			color: #fff;
			margin: 10px auto 0;
			width: 100%;
		}

		&__label {
			display: inline-block;
			color: #fff;
			line-height: 1.1;
			font-weight: 400;
			margin: 10px auto 20px;
			width: 100%;
		}
	}
}



@media (max-width: 991px) {

	.va-counter-wrapper {

		.container {
			flex-wrap: wrap;
		}

		.va-counter {
			width: 50%;
			max-width: none;

			&:first-of-type {
				margin-left: auto;
				padding-left: 15px;
			}

			&:last-of-type {
				margin-right: auto;
				padding-right: 15px;
			}


			&__number {
				max-width: 300px;
			}

			&__label {
				max-width: 300px;
			}
		}
	}
}



@media (max-width: 767px) {

	.va-counter-wrapper {
		padding: 45px 0;
	}
}


@media (max-width: 560px) {

	.va-counter-wrapper {

		.container {
			display: block
		}

		.va-counter {
			margin: 80px auto;
			width: 100%;

			&:first-of-type {
				margin-top: 40px;
			}

			&:last-of-type {
				margin-bottom: 40px;
			}
		}
	}
}