.va-cta-box{
	background-size: cover;
	//background-position: center center;
	background-position: top left;
	min-height: 380px;
	
	position: relative;
	.content{
		padding: 15px;
		position: absolute;
		bottom: 0px;
		color: #fff;
		span{
			font-size: 23px;
		}
		h4{
			color: #fff;
			font-size: 36px;
			font-weight: 600;
			margin: 0px 0px 20px 0px;
		}
	}
}