.va-cta-bar{
	background-color: hubl("$first_color");
	min-height: 250px;
	width: 100%;
	position: relative;
	z-index: 1;
	.mask{
		background-color: hubl("$first_color");
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
	h2{
		font-size: 36px;
	    font-weight: 700;
	    color: #fff;
	    margin-bottom: 0px;
	    margin-top: 0px;
	}
	p{
		color: #fff;
		font-weight: 300;
		font-size: 18px;
		a {
			@extend .va-hover;
			color: #fff;
			&:after {
				background-color: #fff;
			}
		}
		&:last-child{
			margin-bottom: 0px;
			margin-top: 0px;
		}

	}
	.content-wrapper{
		max-width: 1200px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 70px 15px;
		position: relative;
		z-index: 3;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 880px){
				flex-direction:column;
				justify-content: center;
		    }
		.left{
			width: 66%;
			@media (max-width: 880px){
				width: 100%;
		    }
		    a{
		    	color: #fff;
		    	&:after{
		    		background-color: #fff;
		    	}
		    }
		}
		.right{
			text-align: right;
			width: 33%;
			@media (max-width: 880px){
				width: 100%;
				text-align: left;
		    }
		    .cta-wrapper{
		    	@media (max-width: 880px){
					margin-top: 30px;
			    }
		    }
		}
	}
}

