.va-feature-box-group {
	position: relative;
	width: 100%;
	float: left;

	.hs_cos_wrapper_type_widget_container {
		display: flex;
		flex-wrap: wrap;
	}

	.hs_cos_wrapper_type_custom_widget {
		width: 33%;
		text-align: center;
		margin: 0 auto;
	}

	&--col-3, &--col-4, &--col-6 {

		.hs_cos_wrapper_type_custom_widget {
			position: relative;
		}
	}

	&--col-3 {

		.hs_cos_wrapper_type_custom_widget {
			width: 25%;
		}
	}

	&--col-4 {

		.hs_cos_wrapper_type_custom_widget {
			width: 33.33%;
		}
	}

	&--col-6 {

		.hs_cos_wrapper_type_custom_widget {
			width: 50%;
		}
	}

	.va-feature-box {
		position: relative;
		width: 100%;
		margin: 0 auto 50px;
		padding-left: 15px;
		padding-right: 15px;

		&__icon {
			width: 85px;
			margin: 0 auto 20px;

			i, img {
				max-width: 100%;
			}

			i {
				font-size: 50px;
			}
		}

		&__body {
			max-width: 480px;
			margin: 0 auto;
			width: 100%;
			h2 {
				margin: 20px 0;
			}
		}
	}

}

@media (max-width: 991px) {

	.va-feature-box-group {

		&--col-3 {

			.hs_cos_wrapper_type_custom_widget {
				width: 50%;
			}
		}
	}
}

@media (max-width: 767px) {
	
	.va-feature-box-group {

		.hs_cos_wrapper_type_widget_container {
			display: block;
		}

		&--col-3, &--col-4, &--col-6 {

			.hs_cos_wrapper_type_custom_widget {
				width: 100%;
				float: left;
			}
		}
	}


	.va-feature-box {
		float: none;
		max-width: 500px;
		margin-bottom: 40px;

		&:before, &:after {
			display: table;
			content: "";
		}

		&:after {
			clear: both;
		}
	}
}