.va-feed-box{
	background-color: #fff;
	width:360px;
	min-height:360px;
	margin: 0px 15px;
	padding: 30px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	@media (max-width: 1200px){
        width:300px;
		min-height:300px;
    }
    @media (max-width: 1000px){
        width:220px;
		min-height:220px;
    }
    @media (max-width: 767px){
    	margin: 15px auto;
        width:80%;
		min-height:220px;
    }
	.content{
		text-align: center;
		
		.icon{
			width: 60px;
			height: 60px;
			margin: 0 auto;
			background-size: cover;
			background-position: center center;
			i{
				color: hubl("$first_color");
				font-size: 55px;
			}
		}
		h5{
			margin:20px 0px;
		}
		h6{
			margin: 0px;
			color: hubl("$font2_color");
			padding: 0 30px;
		}
	}
}

