.va-hero-lp-ebook {
    overflow: hidden;
    background-color: #fff;
    position: relative;
    margin-bottom: 80px;
    .content {
        position: relative;
        z-index: 2;

        h1 {
            line-height: 1.333;
            font-weight: 700;
            margin: 35px 0 30px;
        }
        p {
            color: #fff;
            margin-bottom: 20px;
        }
        a.cta_button {
            margin-top: 0px;
            padding: 20px;
            margin-bottom: 42px;
            @media (max-width: 767px){
                margin-bottom: 0;
            }
        }
    }
    .cover img {
        margin-top: 50px;
    }
    .text {
        margin-bottom: 150px;
        margin-top: 42px;
        @media (max-width: 767px){
            margin-bottom: 0;
        }
    }
    .curve1 {
        position: relative;
        overflow: hidden;
        transform: rotate(-8.5deg);// translateY(-115%);
        height: 3000px;
        width: 6537px;
        background-color: hubl("$first_color");
        top: -3485px;
        left: -257px;
        .curve2 {
            position: absolute;
            bottom: -437px;
            left: 0;
            // background-color: darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24);
            /* FIX by DAWID */  
           background-color: rgba(0,0,0,0.35);
           /* END FIX by DAWID */  
            height: 474px;
            width: 1050px;
            transform: rotate(12.2deg) translateX(-15%);
            box-shadow: inset 0px 4px 3.84px 0.16px rgba(0, 0, 0, 0.08);
        }
    }

&--pidas-corporate {
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .content {
        width: 100%;

        .text {
            max-width: 860px;
            padding: 30px 0;
            margin: 0 auto 0 0;
        }

        .header {
            h1 {
                display: block;
                font-size: 50px;
                line-height: 55px;
                font-style: normal;
                font-weight: 100;
                text-transform: uppercase;
                margin-bottom: 65px;

                &:before {
                    display: block;
                    clear: both;
                    content: "";
                    border-top: 3px solid #fff;
                    margin: 0 0 20px;
                    width: 120px;
                }
            }
        }

        .rich-text {
            font-size: 30px;
            line-height: 32px;
            font-weight: 400;

            p, span {
                font-family: $font_family_second;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
            }

            .cta_button {
                margin-right: 10px;
                margin-bottom: 20px;
                span {
                    font-family: $font_family;
                }
            }

            .cta-primary {

                &:hover {
                    background: #fff;
                }
            }

            .cta-secondary {

                &:hover {
                    background: hubl("$first_color");
                    border-color: hubl("$first_color");
                }
            }
        }
    }
}
}
