.va-hero-banner-blog-v2{
	width: 100%;
	min-height: 490px;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	.mask{
		position: absolute;
		z-index: 2;
		top: 0;	
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hubl("$first_color");
	}
	.content{
		position: relative;
		z-index: 3;
		text-align: center;
		padding: 100px 15px 200px 15px;
		@media (max-width: 767px){
			padding: 50px 20px;
	    }
		h1{
			margin-top: 0px;
			line-height: 64px;
		}
		h2{
			margin-bottom: 0px;
			padding: 0 40px;
		}
	}
	&.listing{
		display: flex;
		justify-content: center;
		align-items: center;
		.content{
		position: relative;
		z-index: 3;
		text-align: center;
		padding: 150px 0px;
			@media (max-width: 767px){
				padding: 50px 0px;
		    }
		}

	}
}
