.va-hero-slider {
	position: relative;
	width: 100%;
	float: left;
	max-height: 650px;
	overflow: hidden;

	.slick-slider {
		margin-bottom: 0;
	}

	.hero-slide {
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 650px;
		overflow: hidden;
		background-repeat: no-repeat, no-repeat;
		background-position: center, center;
		background-size: cover, 0;

		.mask {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: hubl_rgba('$first_color', .80);

			&--dark {
				background-color: rgba(0,0,0,.15);
			}
		}

		&__caption {
			position: relative;
			width: 100%;
			max-width: 880px;
			margin: 0 auto;
			padding-left: 40px;
			padding-right: 40px;
			text-align: center;

			h1, h2, p {
				margin: 35px 0;
				font-weight: normal;
			}

			h1, .header {
				font-size: 48px;
				font-weight: 600;
				line-height: 1.4em;

				span {
					font-weight: 300;
				}
			}
		}
	}

	&__dots {
		position: absolute;
		display: block;
		width: auto;
		bottom: 35px;
		right: 15px;
		margin: 0;
		padding: 0;
		list-style: none;
		outline: 0;

		* {
			outline: 0;
		}

		li {
			display: block;
			margin: 0;
			font-size: 0;
			line-height: 0;

			button {
				width: 11px;
				height: 11px;
				padding: 0;
				margin: 5px;
				border: 2px solid #fff;
				background-color: rgba(255,255,255,1);
				border-radius: 50%;
				font-size: 0;
				line-height: 0;
				cursor: pointer;
				transition: background-color .3s linear;

				&:hover {
					background-color: rgba(255,255,255,.6);
				}
			}

			&.slick-active {

				button {
					background-color: rgba(255,255,255,0);
				}
			}
		}
	}

}



@media (max-width: 767px) {
	.va-hero-slider {

		.hero-slide {
			height: 470px;
			background-size: 0, cover;

			&__caption {

				h1, h2, p {
					margin: 20px 0;
				}

				h1, .header {
					font-size: 36px
				}

				h2 {
					font-size: 18px;
				}

				p {
					font-size: 18px;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.va-hero-slider {

		.hero-slide {

			&__caption {


				h1, .header {
					font-size: 30px
				}

			}
		}
	}
}