.va-hero-slide-two-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 375px;
	@media (max-width: 1024px){
		flex-direction: column;
		justify-content: center;
    }
	.left{
		width: 50%;
		padding-right: 20px;
		padding-left: 20px;
		@media (max-width: 1024px){
			width: 100%;
	    }
		img{
			box-shadow: 0px 0px 35px 0px rgba(188,200,209,0.70);
			height: auto;
			@media (max-width: 1024px){
				//margin: 0 auto;
				margin: 30px 0px;
		    }
			
		}
	}
	.right{
		width: 50%;
		padding-left: 20px;
		@media (max-width: 1024px){
			width: 100%;
			padding-bottom: 30px;
	    }
	    h4{
	    	margin-top: 0px;
	    	font-size: 36px;
	    	margin-bottom: 25px;
	    }
	    strong{
	    	color: hubl("$cta3_background");
	    }
	    .block-list{
	    	span{
	    		color: hubl("$font2_color");
	    		font-weight: 300;
	    	}
	    	ul{
	    		list-style: none;
	    		display: flex;
	    		flex-wrap: wrap;
	    		justify-content: flex-start;
	    		align-items: flex-start;
	    		li{
	    			width: 49%;
	    			color: hubl("$font2_color");
	    			margin-bottom: 15px;
	    			font-weight: 300;
	    			@media (max-width: 460px){
						width: 100%;
						//text-align: center;
						margin-bottom: 30px;
				    }
	    			strong{
	    				font-size: 36px;
	    				line-height: 38px;
	    				margin: 0px;
	    				font-weight: 500;
	    			}
	    		}
	    	}
	    }
	}
}