.va-hero-banner-blog{
	width: 100%;
	min-height: 490px;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	.mask{
		position: absolute;
		z-index: 2;
		top: 0;	
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hubl("$first_color");
		background-color: #000;
		opacity: 0.7!important;
		display: block;

	}
	.content{
		position: relative;
		z-index: 3;
		text-align: center;
		padding: 0px 15px;
		@media (max-width: 486px){
			margin: 140px 0px 40px 0px;
		}
		h1{
			margin-top: 0px;
			text-transform: uppercase;
			margin-bottom: 15px;
			@media (max-width: 486px){
				font-size: 30px;
				line-height: 38px;
			}
		}
		h2{
			margin-top: 10px;
			margin-bottom: 0px;
			padding: 0 40px;
			font-family: hubl("$font2");
			font-style: italic;
			font-size: 24px;
			position: relative;
			display: block;
			padding-top: 40px;
			&:before{
				content: '';
				display: block;
				width: 75px;
				height: 2px;
				background-color: #fff;
				top: 0px;
				left: 50%;
				transform: translateX(-50%);
				position: absolute;
			}
			@media (max-width: 486px){
				font-size: 24px;
				line-height: 32px;
			}
		}
		h2.h1{
			margin-top: 0px;
			text-transform: uppercase;
			margin-bottom: 15px;
			font-size: 48px;
		    font-weight: 900;
		    font-family: hubl("$font");
		    font-style: normal;
		    color: #FFF;
			&:before{
				display: none;
			}
			@media (max-width: 486px){
				font-size: 30px;
				line-height: 38px;
			}
		}
	}
}
// IE 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .va-hero-banner-blog{
      height: 490px;
    } 
}
// EDGE
@supports (-ms-ime-align:auto){ 
    .va-hero-banner-blog {
        height: 490px;
    } 
}




