section.va-hero-lp-form {
	min-height: 720px;
	padding: 65px 0;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.mask{
		position: absolute;
		z-index: 2;
		top: 0;	
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hubl("$first_color");
	}
	.content {
		display: flex;
		align-items: center;

		position: relative;
		z-index: 99;
		.desc-wrapper, .form-wrapper {
			width: 50%;
		}
		.desc-wrapper {
			margin-right: 50px;
			h1, p {
				color: #fff;
			}
			h1 {
			    font-size: 36px;
			    font-weight: 600;
			    line-height: 1.11;
			}
		}
		.form-wrapper {
	       .form {
	           width: 100%;
	           background-color: #fff;
	           padding: 35px 50px 60px;
	           box-shadow: 0px 10px 30px 0px rgba(41, 41, 53, 0.3);
	           h3 {
	               text-align: center;
	               margin: 0;
	           }
	           h4 {
	               text-align: center;
	           }
	           > p {
	               visibility: hidden;
	           }
	           p {
	               text-align: center;
	               margin: 11px 0 27px;
	           }
	           input.hs-input {
	               padding: 12.5px 20px;
	           }
	           .input {
	               margin-bottom: 15px;
	           }
	           ul {
	            margin: 7px 0;
	               li {
	                   display: inline-block;
	                   margin-right: 45px;
	               }
	           }
	           button {
	               margin-top: 35px;
	           }
	       }
		}
		@media (max-width: 767px) {
			flex-direction: column;
			.desc-wrapper, .form-wrapper {
				width: 100%;
			}
			.desc-wrapper {
				margin-right: 0;
			}
			.form-wrapper {
				margin-top: 30px;
			}
		}
	}
}