section.va-image-and-text {
    .widget-type-rich_text > * {
        margin-top: 0;
    }
    @media (max-width: 767px) {
        .span6 {
            img,video,iframe {
                margin-bottom: 30px;
            }
        }
    }
    &.custom-bg{
        padding: 0px;
        margin-top: 60px;
        margin-bottom: 0px;
        .widget-type-rich_text p,span,li,strong,h2,h3,h4,h5,h6{
            color: #fff;

        }
        li:before{
           background-color: #fff;
            }
    }
}
