.va-image-slider {
	position: relative;
	width: 100%;
	float: left;
	z-index: 2;


	* {
		outline: 0;
	}

	.va-image-slide {
		text-align: center;
		padding: 0 15px;

		a {
			display: inline-block;
			width: auto;
			margin: 0 auto;
			transition: all .3s ease-in-out;

			&:hover {
				transform: scale(1.01);
			}
		}

		img {
			max-width: 100%;
			height: auto;
			margin: 10px auto 20px;
			filter: drop-shadow(0 4px 8px rgba(0,0,0,.17));
		}
	}
}