.va-multibox{
	min-height: 600px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: hubl("$first_color");
	
	@media (max-width: 767px){
        flex-direction: column;
    }
	.clear{
		clear: both;
	}
    .half-container{
		max-width: 585px;
		width: 100%;
	    padding: 0 40px;
	    @media (max-width: 767px){
	        max-width: 100%;
	        flex: 1 100%;	
	    }
	}
	h4{
		margin: 0;
		font-size: 23px;
		color: #fff;
		font-weight: 400;
		margin: 20px 0px;

	}
	p{
		color: #fff;
		font-size: 16px;
		margin: 0px;
	}
	.left{
		width: 50%;

		@media (max-width: 767px){
	        width: 100%;
	        display: flex;
	        flex-direction: column;
		}
		.item-1{
			width: 100%;
			min-height: 400px;
			background-size: cover;
			background-position: center center; 
			@media (max-width: 767px){
		        order:2;	 
		    }
		}
		.item-2{
			width: 100%;
			min-height: 200px;
			background-color: hubl("$first_color");
			padding: 20px 0px;
			    display: flex;
    justify-content: flex-end;
    align-items: center;
		    .half-container{
			    padding-left:20px;
			    float: right;
			    @media (max-width: 1075px){
			        padding-left:15px;
			    }
			    @media (max-width: 767px){
			        padding: 0px 15px;
			    }
			    h4{
			    	margin: 0px 0px 20px 0px;
			    }
			}
		}

	}
	.right{
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 767px){
	        width: 100%;
	        flex-wrap: nowrap;
	        flex-direction: column;
		}
		.item-3{
			width: 100%;
			min-height: 200px;
			background-color: hubl("$first_color");
			display: flex;
			justify-content: flex-start;
			align-items: center;
			@media (max-width: 767px){
		        order:1;  
		        flex-basis: 100%;
		        flex:1;	
		    }
		    .half-container{
			    padding-right:0px;
			    @media (max-width: 1075px){
			        padding-right:15px;
			    }
			    @media (max-width: 767px){
			        padding: 0px 15px;
			    }
			}
		}
		.item-4{
			width: 50%;
			min-height: 400px;
			background-color: #2b2a2b;
			text-align: left;
			padding: 20px 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			@media (max-width: 1075px){
		        width: 100%;
		    }
		    @media (max-width: 767px){
		        order:3;	
		        flex-basis: 100%;
		        flex:1;	  
		    }
		    h4{
		    	margin-top: 0;
				display: inline-block;
		    	width: 100%;
		    }
		    p{
		    	margin: 10px 0px 40px 0px;
		    	display: inline-block;
		    	width: 100%;
		    }

		}
		.item-5{
			width: 50%;
			min-height: 400px;
			background-size: cover;
			background-position: center center; 
			@media (max-width: 1075px){
		        width: 100%;
		    }
		    @media (max-width: 767px){
		        order:2;
		        flex-basis: 100%;
		        flex:1;			  
		    }
		}
	}
}







