.va-mocup-slider {
	position: relative;
	width: 100%;
	float: left;
	padding: 90px 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	* {
		outline: 0;
	}

	.mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hubl_rgba("$first_color", .85);
	}

	.va-slick-dots {
		max-width: 460px;
		left: 0;

	    li {

	        button {
	            background-color: rgba(255,255,255,.3);

	            &:hover {
	               background-color: rgba(255,255,255,.6);
	            }
	        }

	        &.slick-active {

	            button {
	                background-color: rgba(255,255,255,1);
	            }
	        }
	    }
	}

	&__screens {
		position: relative;
		margin-top: 55px;
		width: 690px;
		float: left;
		margin-left: -50px;

		.slick-prev, .slick-next {
			z-index: 2;
			left: initial;
			right: initial;
			top: initial;
			bottom: -25px;

			&:before {
				transition: all .3s linear;
			}
		}

		.slick-prev {
			left: calc(50% - 200px);

			&:before {
				font-family: 'VanadylIcons';
				content: "\e92c";
				font-size: 50px;
				line-height: 1;
			}
		}

		.slick-next {
			left: calc(50% - 75px);

			&:before {
				font-family: 'VanadylIcons';
				content: "\e92e";
				font-size: 50px;
				line-height: 1;
			}
		}

		.slick-slide {
			transition: all .3s linear;
		}

	//	.slick-center,
 		.slick-active {
			& + .slick-slide {
				transform: translateX(37px);
			}
		}

		.va-mocup-slide__image {
			margin: 0 10px;
			width: 208px;
			height: 367px;
			opacity: .79;
			filter: blur(1px);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}



	&__phone {
		position: relative;
		width: 300px;
		margin-left: -230px;
		float: left;
		text-align: center;

		& > img {
			filter: drop-shadow(0 6px 10px rgba(0,0,0,.33));
		}

		&-slider-wrapper {
			position: absolute;
			top: 55px;
			left: 50%;
			width: 208px;
			height: 367px;
			overflow: hidden;
			transform: translateX(-50%);
		}

		.slick-slide {
			transform: translateX(-208px);
			width: 208px;
			height: 367px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}



	&__content {
		position: relative;
		width: calc(100% - 460px - 300px);
		float: right;
		margin: 70px 0;

		.slick-slide {

			.header-wrapper {
				overflow: hidden;

				h3 {
					color: #fff;
					margin: 20px 0 0;
					opacity: 0;
					transform: translateX(-100%);
					transition: all .3s ease;
				}
			}

			.content-wrapper {
				overflow: hidden;

				.hs_cos_wrapper_type_rich_text {
					color: #fff;
					opacity: 0;
					transform: translateX(100%);
					transition: all .5s ease;

					p, blockquote, li, a {
						color: inherit;
					}
				}
			}
		}

		.slick-slide.active {

			h3 {
				opacity: 1;
				transform: translateX(0);
			}

			.content-wrapper {
				.hs_cos_wrapper_type_rich_text {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}
	}

&--normal {
	.va-mocup-slider {

		&__screens {
			display: none;
		}

		&__phone {
			margin-left: auto;
			margin-right: auto;
			width: 50%;

			.slick-slide {
				transform: translateX(0);
			}
		}

		&__content {
			width: 50%;

		}

	}
}	
}



@media (max-width: 1200px) {

	.va-mocup-slider {

		&__content {
			width: calc(100% - 460px - 300px + 50px);
		}

	}
}



@media (max-width: 1100px) {

	.va-mocup-slider {

		&__screens {
			margin-left: -150px;
		}

		&__content {
			width: calc(100% - 460px - 300px + 150px);
		}

	}
}


@media (max-width: 991px) {

	.va-mocup-slider {

		&__screens {
			display: none;
		}

		&__phone {
			display: none;
		}

		&__content {
			width: 100%;
			margin: 0 0 70px;

			.va-slick-dots {
				left: 0;
				bottom: -70px;
				text-align: left;

			    li {

			        button {
			            background-color: rgba(255,255,255,.3);

			            &:hover {
			               background-color: rgba(255,255,255,.6);
			            }
			        }

			        &.slick-active {

			            button {
			                background-color: rgba(255,255,255,1);
			            }
			        }
			    }
			}
		}

	}
}

@media(max-width: 767px) {
	.va-mocup-slider {
		padding: 50px 0;
	}
}