.va-one-line-icon-text {

	position: relative;
	width: 100%;
	float: left;
	margin: 20px 0 0;

	&__icon {
		width: 65px;
		padding-right: 10px;
		float: left;
		text-align: left;

		i, img {
			//width: 50px;
			max-width: 100%;
		}

		i {
			font-size: 50px;
		}
	}

	&__text {
		width: calc(100% - 65px);
		padding-left: 10px;
		float: left;

		p {
			&:first-of-type {
				margin-top: 0;
			}
		}
	}
}