.va-offer-box-group {

	& > .hs_cos_wrapper_type_widget_container {
		display: flex;
		flex-wrap: wrap;
	}

	&--col-3, &--col-4, &--col-6 {

		.hs_cos_wrapper_type_custom_widget {
			position: relative;
		}
	}

	&--col-3 {

		.hs_cos_wrapper_type_custom_widget {
			width: 25%;
		}
	}

	&--col-4 {

		.hs_cos_wrapper_type_custom_widget {
			width: 33.33%;
		}
	}

	&--col-6 {

		.hs_cos_wrapper_type_custom_widget {
			width: 50%;
		}
	}
}

.va-offer-box {
	position: relative;
	width: 100%;
	float: left;
	margin: 10px auto 60px;
	padding-left: 15px;
	padding-right: 15px;

	&__icon {
		width: 85px;
		padding-right: 15px;
		float: left;
		text-align: left;

		i, img {
			//width: 50px;
			max-width: 100%;
			height: auto;
		    width: 55px;
		}

		i {
			font-size: 50px;
		}
	}

	&__body {
		width: calc(100% - 85px);
		max-width: 480px;
		float: left;

		h2 {
			margin: 10px 0 20px;
		}
	}
}

@media (max-width: 991px) {

	.va-offer-box-group {

		&--col-3 {

			.hs_cos_wrapper_type_custom_widget {
				width: 50%;
			}
		}
	}
}

@media (max-width: 767px) {

	.va-offer-box-group {

		& > .hs_cos_wrapper_type_widget_container {
			display: block;
		}

		&--col-3, &--col-4, &--col-6 {

			.hs_cos_wrapper_type_custom_widget {
				width: 100%;
				float: left;
			}
		}
	}


	.va-offer-box {
		float: none;
		max-width: 500px;
		margin-bottom: 40px;

		&:before, &:after {
			display: table;
			content: "";
		}

		&:after {
			clear: both;
		}
	}
}

@media (max-width: 480px) {

	.va-offer-box {

		&__icon {
			width: 80px;
		}

		&__body {
			width: calc(100% - 80px);
		}


	}
}