.va-ourlocations-wrapper {
  > .container {
    padding-bottom: 30px;
    border-bottom: 1px solid #f5f5f5;
    > div {
      float: none;
    }
    .widget-type-header {
      h3 {
        text-align: center;
        margin: 65px 0 60px;
        @media (max-width: 767px) {
          text-align: left;
          margin: 40px 0;
        }
      }
    }
  }
}
.va-ourlocations {
  span {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > div {
      flex-basis: calc(25% - 20px);
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
    }
  }
  .va-ourlocation-single {
    margin-bottom: 30px;
    @media (max-width: 767px) {
      margin-bottom: 45px;
    }
    h6 {
      font-size: 18px;
      line-height: 24px;
      color: hubl("$font_color");
      margin: 0;
      margin-bottom: 30px;
      font-weight: 600;
      cursor: pointer;
      display: inline-block;
      transition: all 0.3s linear;
      @media (max-width: 767px) {
        margin-bottom: 25px;
      }
    }
    h6:hover {
      color: hubl("$first_color");
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: hubl("$font2_color");
      margin: 0;
    }
  }
}