.va-picture-text-blocks{
	padding-bottom: 60px;
	position: relative;
	z-index: 10;
	top: -270px;
	margin-bottom: -270px;
	@media (max-width: 560px){
		top: -230px;
		margin-bottom: -230px;
    }
	@media (max-width: 450px){
		top: -160px;
		margin-bottom: -160px;
    }
	.thumb-image{
		
		width: 100%;
		text-align: center;
	}
	.content{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 50px;
		@media (max-width: 1024px){
			flex-direction: column;
			margin-top: 25px;
	    }
	    a{
			
		    
		    line-height: 24px;
		    display: inline-block;
		    position: relative;
				@media (max-width: 479px){
					order: 1;
					margin-bottom: 20px;
			    }
				&:after{
					content: "";
					display: block;
					width: 0px;
					height: 2px;
					background-color: hubl("$first_color");
					position: absolute;
					left:0;
					bottom:0;
					transition: all 0.3s linear;
				}
				&:hover{
					//border-color: hubl("$first_color");
					&:after{
						width: 100%;
					}
				}

		}
		.left{
			width: 65%;
			padding-right: 25px;
			@media (max-width: 1024px){
				width: 100%;
		    }
			h2{
				font-size: 36px;
				margin-top: 0px;
				margin-bottom: 0px;
				color: hubl("$font_color");
				font-weight: 500;
			}

		}
		.right{
			width: 35%;
			margin-top: 60px;
			@media (max-width: 1024px){
				width: 100%;
				margin-top: 10px;
		    }
			p{
				strong{
					color: hubl("$font_color");
				}
			}
			
		}
	}
}

