.va-pricing-wrapper{
	width:365px;
	min-height: 555px;
	@media (max-width: 1200px){
		width:300px;
		margin: 9px;
    }
    @media (max-width: 1024px){
		width:365px;
		margin: 42px 0px;
    }
     @media (max-width: 450px){
		width:280px;
		margin: 42px 0px;
    }
     @media (max-width: 350px){
		width:265px;
		margin: 42px 0px;
    }
	.va-pricing-box{
		width: 100%;
		height: 100%;
		background-color: #ebebeb;
		position: relative;
		z-index: 25;
		padding: 20px;
		box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.13);

		.content{
			text-align: center;
			h4{
				font-size: 69px;
				line-height: 70px;
				margin: 35px 0px 0px 0px;
			}
			small{
				margin: 0px;
				font-weight: 300;
				font-size: 16px;
				line-height: 39px;
			}
			h5{
				margin: 10px 0px 0px 0px;
				font-size: 23px;
				line-height: 39px;
			}
			ul{
				list-style: none;
				padding-left: 0px;
				li{
					font-weight: 300;
					font-size: 16px;
					line-height: 39px;
				}
			}
			a{
				@extend .cta-primary;
			}
		}
		&--centered{
			background-color: hubl("$first_color");
			.content{
				color: #fff;
				h4,h5{
					color: #fff;
				}
				a{
					@extend .cta-secondary;
				}
			}
		}
	}
	&--centered{
		transform: scale(1.13);
			position: relative;
			z-index: 40;
			transition: all 0.7s linear;
			margin: 12px;
	}
}
