.va-partner-slider {
	position: relative;
	width: 100%;
	float: left;

	* {
		outline: 0;
	}

	.slick-slider {
		margin-bottom: 0;
	}

	.va-partner-slide {
		text-align: center;

		a {
			text-decoration: none;

			img {
				max-width: 100%;
				margin: auto;
				opacity: .6;
				transition: opacity .3s linear;
			}

		&:hover {
			img {
				opacity: 1;
			}
		}
		}
	}
}


@media (max-width: 767px) {
	.va-partner-slider {
		position: relative;
		width: 100%;
		float: left;

		.slick-slider {
			margin-bottom: 50px;
		}
		.va-slick-dots {
			bottom: -50px;
		}
	}
}