.va-privacy-policy-row{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	@media (max-width: 767px){	  
		flex-direction: column;
    }
	.left{
		width: 33%;
		@media (max-width: 767px){	  
			width: 100%;
		}
		h3{
			color: hubl("$font_color");
			margin: 0;
			padding: 0;
			font-size: 18px;
			font-weight: 500;
			padding-right: 20px;
			line-height: 24px;
			@media (max-width: 767px){	  
				margin-bottom: 30px;
				padding-right: 0px;
			}
		}

	}
	.right{
		width: 66%;
		border-left: 1px solid #f5f5f5;
		padding-bottom: 40px;
		padding-left: 32px;
		@media (max-width: 767px){	  
			width: 100%;
			padding-left: 0px;
			border: none;
		}
		p{
			margin: 0;
			padding: 0;
			font-size: 16px;
			font-weight: 200;
		}
	}
}




