section.va-quick-subscribe {
	overflow: hidden;
	position: relative;
	min-height: 710px;

  padding-bottom: 30px;

// 	background-color: rgba(darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24), 0.5);
// background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,255,255,1)), color-stop(20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24)), color-stop(100%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24)));
// background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
// background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
// background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
// background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 20%, darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='darken( desaturate( adjust-hue( hubl("$first_color"), -14deg), 7), 24)', GradientType=0 );  
// position: relative;
// z-index: 2;


 
/* FIX by DAWID */  
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, hubl_rgba('$first_color',1) 20%, hubl_rgba('$first_color',1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, hubl_rgba('$first_color',1) 20%, hubl_rgba('$first_color',1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, hubl_rgba('$first_color',1) 20%, hubl_rgba('$first_color',1) 100%);




&:after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 20%;
  background-color: rgba(0,0,0,0.35); //0.35

}

fieldset{
    max-width: 100%!important;
}
form{
  margin-left: 8px;
}

.container { 
    position: relative;
    z-index: 10;
}

    /* FIX end by DAWID */  
   
      
       .form-wrapper {
           padding: 0 7.5px;
       }
       .text {
        margin-top: 190px;
        @media(max-width: 767px){
            margin-top: 70px;
        }
            h2 {
                font-size: 36px;
                font-weight: 600;
                color: #FFF;
                line-height: 40px;
            }
            p {
                color: #FFF;
            }
       }
       .form {
           width: 100%;
           background-color: #fff;
           padding: 35px 50px 60px;
           margin-top: 30px;
           box-shadow: 0px 10px 30px 0px rgba(41, 41, 53, 0.3);

           h3 {
               text-align: center;
               margin: 0;
           }
           h4 {
               text-align: center;
           }
           > p {
               visibility: hidden;
           }
           p {
               text-align: center;
               margin: 11px 0 27px;
           }
           input.hs-input {
               padding: 12.5px 50px 12.5px 20px;
               font-weight: 300;
               width: 100%;
           }
           .input {
               margin-bottom: 15px;
           }
           ul {
            margin: 7px 0;
            padding: 0px 0px 0px 20px;
               li {
                   display: inline-block;
                   margin-right: 45px;
               }
           }
           button {
               margin-top: 35px;
           }
       }

     
   }

   .trapeze1 {
       width: 0;
       height: 710px;
       border-top: 206px solid transparent;
       border-bottom: 206px solid transparent;
       border-left: 2000px solid  hubl("$first_color");
       float: left;
       position: absolute;
       left: 0;
       top: 0;

       /* FIX by DAWID */  
       z-index: 1;
      
/* End FIX by DAWID */  
        
   }

   .trapeze2 {
       width: 0;
       height: 710px;
       border-top: 255px solid transparent;
       border-bottom: 255px solid transparent;
       border-right: 1000px solid  hubl("$first_color");
       float: right;
       position: absolute;
       right: 0;
       top: 0;
/* FIX by DAWID */  
      z-index: 1;

/* End FIX by DAWID */  

   }


