.va-separatorsite {
  background: hubl("$first_color");
  padding: 80px 0 65px;
  @media (max-width: 767px) {
    padding: 75px 0 60px;
  }
  .separator-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .separator-text {
      flex-basis: 70%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      @media (max-width: 767px) {
        flex-basis: 100%;
        margin-bottom: 35px;
      }
      h3 {
        color: #fff;
        margin: 0;
        width: 100%;
        line-height: 36px;
        margin-bottom: 20px;
      }
      p {
        color: #fff;
        margin: 0;
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        a {
          color: #fff;
        }
        span {
          font-weight: 500;
        }
      }
    }
    .separator-cta {
      flex-basis: 30%;
      min-width: 220px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: right;
      @media (max-width: 767px) {
        flex-basis: 100%;
        text-align: left;
      }
      a {

      }
    }
  }
}
