.va-socialbuttons-single {
  margin-bottom: 30px;
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
  h6 {
    font-size: 18px;
    line-height: 24px;
    color: hubl("$font_color");
    margin: 0;
    margin-bottom: 30px;
    font-weight: 600;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 17px;
      @media (max-width: 767px) {
        margin-right: 6px;
      }

      a {
        color: hubl("$first_color");
        cursor: pointer;
        transition: all 0.3s linear;
        span {
          font-size: 20px;
          transition: all 0.3s linear;
          @media (max-width: 767px) {
            font-size: 24px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      a:hover, a:focus, a:active {
        color: hubl("$font_color");
        text-decoration: none;
        text-transform: none;
      }
    }
  }
}