.va-testimonial-slider {
	position: relative;
	width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0 15px;

    * {
    	outline: 0;
    }

    &:before, &:after {
    	display: table;
    	content: "";
    }

    &:after {
    	clear: both;
    }

	.slick-slider {
		margin-bottom: 0;
	}

	.va-testimonial-slide {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&__quote-svg {
			position: absolute;
			opacity: .15;
			z-index: 1;

			* {
				fill: hubl("$first_color");
			}

			&--open {
				bottom: 0;
				left: 0;
			}

			&--close {
				top: 0;
				right: 0;
			}
		}

		&__image-wrapper {
			position: relative;
			align-self: flex-end;
			width: 33.33%;
			padding-left: 50px;
			text-align: center;
			z-index: 2;

			img {
				max-width: 100%;
				height: auto;
				margin: auto;
			}
		}

		&__content-wrapper {
			position: relative;
			max-width: 680px;
			width: 58.33%;
			padding: 80px 50px 80px 15px;
			z-index: 2;
		}

			&__quote {

				blockquote {
					margin: 25px 0;
				}
			}

			&__sign {
				img {
					margin: 25px 0;
				}				
			}

			&__author {

				p {
					font-weight: 500;
					text-transform: uppercase;
					color: hubl("$font_color");
				
					span {
						color: hubl("$first_color");
					}
				}
			}
	}
}





@media (max-width: 991px) {

	.va-testimonial-slider {

		.va-testimonial-slide {
			&__image-wrapper {
				width: 40%;
			}

			&__content-wrapper {
				width: 60%;
			}
		}

	}
}





@media (max-width: 767px) {

	.va-testimonial-slider {
		margin: 0 auto 40px auto;

		.slick-list {
			overflow-y: auto;
		}

		.va-testimonial-slide {
			padding-top: 40px;
			display: block;

			&__quote-svg {

				width: 260px;

				&--open {
					display: none;
				}

				&--close {

				}
			}

			&__image-wrapper {
				display: none;;
			}

			&__content-wrapper {
				padding: 0;
				width: 100%;
			}
		}

	}
}