.va-testimonial-video-slider {
	position: relative;
	width: 100%;
	float: left;

	.hidden {
		display: block;
		visibility: hidden;
		height: 0;
		opacity: 0;
		overflow: hidden;
	}

	.slick-vertical {
		.slick-slide {
			border: 0;
		}
	}

	.slick-slider {
		margin-bottom: 0;
	}

	.va-testimonial-video-slide {
		position: relative;
		height: 610px;
		background-color: #000;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: hubl_rgba("$first_color", .80);
			transition: all .3s linear;
		}

		.container {
			position: relative;
			height: 100%;
			padding-top: 70px;
			padding-bottom: 100px;
			max-width: 880px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 2;
			opacity: 1;
			transition: all .3s linear;
		}

		&__content {
			position: relative;
			color: #fff;
			margin: 10px auto;
			max-width: 880px;

			p, blockquote, li {
				font-size: 23px;
				line-height: 1.25;
				color: inherit;
			}

			blockquote {
				margin: 20px 0;
			}
		}

		&__author {
			position: relative;
			margin: 10px auto;
			color: #fff;
			text-transform: uppercase;

			strong {
				font-weight: 500;
			}
		}

		&__video-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 610px;
			max-width: 1200px;
			width: 100%;
			z-index: 1;
			transform: translateY(100%);
			transition: all .3s ease-in-out;

			video, iframe {
				position: absolute;
				opacity: 0;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-height: 100%;
				max-width: 100%;
				transition: all .3s ease-in-out;
			}

			.video-close {
				position: absolute;
				top: 0;
				right: 0;
				width: 20px;
				height: 20px;
				margin: 5px;
				padding: 0;
				outline: 0;
				opacity: 0;
				font-size: 12px;
				line-height: 1;
				background: none;
				color: #fff;
				border: 1px solid #fff;
				border-radius: 50%;
				z-index: 1;
				transition: all .3s linear;

				i {
					color: inherit;
				}

				&:hover {
					color: hubl("$first_color");
					border: 1px solid hubl("$first_color");
				}
			}
		}
	}

	.va-testimonial-video-slide.video-active {

		.mask {
			background-color: rgba(0,0,0,.8);
		}

		.container {
			opacity: 0;
		}

		.va-testimonial-video-slide__video-wrapper {
			transform: translateY(0);
			z-index: 3;

			video, iframe {
				opacity: 1;
			}

			.video-close {
				opacity: 1;
			}
		}
	}

	&-pagination {
		position: relative;
		width: 100%;
		max-width: 1200px;
		text-align: center;
		display: flex !important;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: center;
		margin: -70px auto 0;
		transition: all .3s ease-in-out;

		li {
			position: relative;
			display: inline-block;
			margin: 10px 10px -20px;
			text-align: center;
			transition: all .3s ease-in-out;

			button {
				display: none;
			}

			&.slick-active {
				img {
					opacity: 1;
				}
			}
		}

		.mask, &__avatar {
			width: 106px;
			height: 106px;
			margin: 10px 5px;
		}

		.mask {
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			background-color: #fff;
			opacity: 1;
			z-index: 1;
		}

		&__avatar {
			position: relative;
			display: block;
			border: 3px solid #fff;
			border-radius: 50%;
			cursor: pointer;
			opacity: .7;
			z-index: 2;
			transition: all .3s linear;

			&:hover {
				opacity: .85;
			}
		}

		&__company-logo {
			display: block;
			max-width: 100%;
			margin: 20px auto 10px;
			opacity: .7;
			transition: all .3s linear;
		}
	}

	&-pagination.pull-down {
		margin-top: -10px;

		li {
			margin: 10px 10px -60px;
			transform: scale(.9);
			transform-origin: top;
		}
	}

}

@media (max-width: 767px) {
	.va-testimonial-video-slider {

		.va-testimonial-video-slide {

			.container {
				padding-top: 30px;
				padding-bottom: 60px;
			}

			&__content {
				margin: 0 auto;
			}
		}

		&-pagination {

			margin: -50px auto 0;

			.mask, &__avatar {
				width: 76px;
				height: 76px;
				margin: 10px 5px;
			}
		}
	}
}