.va-text-block-and-image-v2{
	background-color: hubl("$first_color");
	min-height: 682px;
	display: flex;
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	    height: 682px;
	}
	// EDGE
	@supports (-ms-ime-align:auto){ 
	    height: 682px; 
	}
	@media (max-width: 767px){
        flex-direction: column;
    }
    p, span, h3{
		color: #fff;
	}
	h3{
		font-weight: 700;
		margin-top: 20px;
	}
	.left{
		width: 50%;

		background-size: cover;
		background-position: center center;
		@media (max-width: 1024px){
	        width: 40%;
	    }
	    @media (max-width: 767px){
	        width: 100%;
	        height: 350px;
	    }
	} 
	.right{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px 0px;
		@media (max-width: 1024px){
	        width: 60%;
	    }
	    @media (max-width: 767px){
	        width: 100%;
	    }
		.half-container{
			width: 100%;
			max-width: 600px;
			padding-right: 15px;
			padding-left: 32px;
			@media (max-width: 767px){
		       padding-left: 15px;
		       max-width: 1200px;
		       margin: 0 auto;
		    }
		    .content{
		    	padding-bottom: 30px;
		    }
		}
		.bot-section{
			display: flex;
			justify-content: flex-start;
			align-items:center;
			border-top: 1px solid #fff;
			padding-top: 30px;
			.content{
		    	padding-bottom: 0px;
		    }
			.icon{
				margin: 20px 35px 20px 0px;
				min-width: 80px;
				height: 95px;
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				text-align: center;
				i{
					color: #fff;
					font-size: 80px;
					line-height: 95px;
				}
			}
		}
	}
}