.va-text-block-and-image-module {
    width: 100%;
    position: relative;
    display: flex;
    .text-block {
        width: 50%;
        background-color: hubl("$first_color");
        &.white_bgc {
            background-color: #FFF;
            color: hubl("$font2_color");
            h4 {
                color: hubl("$second_color");
                text-align: left;
            }
            .text-block-content {
                ul.social li a i {
                    color: hubl("$first_color");
                }
                p {
                    color: hubl("$font2_color");
                }
            }
        }
        .text-block-content {
            max-width: 550px;
            margin-top: 40px;
            margin-bottom: 60px;
            &.txt-left {
                margin-left: 10px;
                margin-right: 60px;
                h4 {
                    margin-bottom: 10px;
                    font-weight: 300;
                    color: hubl("$second_color");
                    strong {
                        font-weight: 600;
                    }
                }
            }
            &.txt-right {
                margin-left: 60px;
                margin-right: 10px;
                h4 {
                    margin-bottom: 10px;
                    font-weight: 300;
                    color: #FFF;
                    strong {
                        font-weight: 600;
                        color: hubl("$second_color");
                    }
                }
            }
            @media (max-width: 767px) {
                float: none !important;
                margin: 30px auto !important;
            }
            @media (max-width: 550px) {
                margin: 20px 15px !important;
            }
            p {
                color: #fff;
                margin-bottom: 23px;
            }
            ul.social {
                display: flex;
                margin-top: 45px;
                margin-bottom: 15px;
                li {
                    margin-right: 25px;
                    a {
                        i {
                            color: #FFF;
                            font-size: 21px;
                            transition: 0.3s;
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }
    }
    .progress_bars {
        width: 50%;
        .skills-header {
            h2 {
                color: $secondaryTextColor;
                margin-bottom: 35px;
                margin-top: 0px;
                padding-top: 50px;
            }
        }
        .wrapper-bars {
            width: 100%;
            padding: 0 35px 60px;
            max-width: 550px;
            margin: 15px 0 40px;
            display: inline-block;
            @media (max-width: 767px) {
                float: none !important;
                margin: 20px auto;
                display: block;
            }
            h3 {
                color: hubl("$main_font_color");
                font-size: 40px;
                margin: 30px 0 20px;
                span {
                    color: hubl("$cta_background");
                    letter-spacing: 3px;
                }
            }
            h4 {
                margin-top: 15px;
                width: 100%;
                font-size: 16px;
                color: hubl("$main_font_color");
                text-align: left;
                font-weight: normal;
                margin-bottom: 12px;
            }
            .bar {
                width: 100%;
                height: 19px;
                border-radius: 5px;
                background-color: hubl("$second_color");
                border-radius: 10px;
            }
            .loading-bar {
                width: 0%;
                height: 19px;
                background-color: hubl("$first_color");
                position: relative;
                transition: all 0.6s linear;
                border-radius: 10px;
                .circle {
                    background-color: hubl("$first_color");
                    position: absolute;
                    height: 19px;
                    width: 19px;
                    top: 0px;
                    right: -5px;
                    border-radius: 50%;
                    span {
                        position: absolute;
                        top: -23px;
                        text-align: center;
                        color: hubl("$main_font_color");
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .image-container {
        width: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: auto;
        @media (max-width: 767px) {
            max-width: 100%;
            height: auto;
        }
    }
    @media (max-width: 767px) {
        flex-direction: column;
        .text-block,
        .progress_bars {
            width: 100%;
        }
        .progress_bars {
            background-color: #fff;
        }
    }
}
