section.va-text-movie-modal-small.va-text-movie-flexbile {
	padding-top: 40px;
	padding-bottom: 40px;

	.container {
		display: block;
	}

	.text-container {

		.va-text-movie-modal-small__content {
			padding-top: 0;
			padding-bottom: 0;
		}

		h3 {
			margin-top: 0;
			font-weight: 400;
		}

	&.video-right {
		.va-text-movie-modal-small__content {
			padding: 5px 94px 25px 0;

			@media (max-width: 1540px) and (min-width: 1201px) {
			    padding: 5px 55px 15px 0;
			}

			@media (max-width: 1200px) and (min-width: 993px) {
			    padding: 0px 20px 0 0;
			}

			@media (max-width: 991px) {
				padding-right: 0;
			}
		}
	}
	}

	.video-container {

		&.video-right {

			.va-text-movie-modal-small__background-video-wrapper {
				transform: translateX(0);
			}
		}
	}

	@media (max-width: 991px) {

		.container {
			display: flex;
			flex-wrap: wrap;
		}

		.video-container {
			width: 100%;
			order: 1;
		}

		.text-container {
			width: 100%;
			order: 2;

			.va-text-movie-modal-small__content {
				margin-top: 30px;
			}
		}
	}
}