.va-text-image-section{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 40px;
	@media (max-width: 867px){
        flex-direction: column;		  
    }
	.left{
		width: 50%;
		.cont{
			max-width: 570px;
			width: 100%;
			float: right;
			padding: 0px 15px 40px 15px;
			color: red;
			a{
				font-weight: 500;
				position: relative;
				&:after{
						content: "";
						display: block;
						width: 0px;
						height: 1px;
						background-color: hubl("$first_color");
						position: absolute;
						left:0;
						bottom:0;
						transition: all 0.3s linear;
					}
					&:hover{
						//border-color: hubl("$first_color");
						&:after{
							width: 100%;
						}
					}
			}
			ol,ul {
		        list-style: none;
		        padding-left: 0;
		        color: hubl("$font2_color");
		        margin-left: 38px;
		        margin-top: 21px;
                    margin-bottom: 21px;
		        li {
		            position: relative;
		            padding-left: 30px;
		            margin-bottom: 11px;
		            font-weight: 200;
                        margin-bottom: 23px;
		            strong {
		                font-weight: 500;
		                font-size: 20px;
		                color: #261900;
		                display: block;
		                color: hubl("$second_color")
		            }
		            &:before {
		                position: absolute;
		                content: "•";
		                color: hubl("$first_color");
		                left: 0;
		                font-size: 22px;
		                line-height: 1.5;
		            }
		        }
		    }

		    ol {
		        list-style: none;
		        counter-reset: li;
		        padding-left: 0;
		        color: hubl("$second_color");
		        margin-left: 38px;
		        li {
		            position: relative;
		            padding-left: 40px;
		            margin-bottom: 15px;
		            &:before {
		                position: absolute;
		                counter-increment: li;
		                content: counter(li)".";
		                color: hubl("$first_color");
		                left: 0;
		            }
		        }
		    }
			@media (max-width: 867px){
		        max-width: 100%;
		        width: 100%;		    
			}
		}
		@media (max-width: 867px){
	        width: 100%;	  
	    }
	}
	.right{
		width: 50%;
		position: relative;
		@media (max-width: 867px){
	        width: 100%;	 
	        position: static; 
	    }
		img{
			height: auto;
			// width: auto;
			position: absolute;
			bottom: 0;
			right: 100px;
			@media (max-width: 1540px){
				right: 10px;
			}
			@media (max-width: 867px){
		        bottom: auto;
		        left: auto;
		        position: static; 
		        width: 100%;
		    }
		}
	}

}