.va-text-movie-modal-small {
    width: 100%;
    float: left;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    .video-container,
    .text-container {
        width: 50%;
        float: left;
        @media (max-width: 992px) {
            width: 100%;
            float: none;
            .va-text-movie-modal-small__background-video-wrapper {
                max-width: 550px;
                margin: 0 auto;
            }
        }
        img{
            max-width: 100%;
            height: auto;
            text-align: center;
        }
    }
    &__background-video-wrapper {
        position: relative;
    }
    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hubl_rgba('$first_color', .74);
        z-index: 2;
    }
    &__play-button-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
    }
    &__background-video-wrapper {
        width: calc(100% + 149px);
        transform: translateX(-149px);
        z-index: 1;
        box-shadow: 0px 10px 30px 0px rgba(41, 41, 53, 0.3);
        @media(max-width: 1540px) {
            width: 100%;
            transform: none;
        }
        video {
            width: calc(100% + 149px);
            @media(max-width: 1540px) {
                width: 100%;
            }
            display: block;
            &::-webkit-media-controls {
                display: none;
            }
        }
    }
    .va-video-play-btn {
        margin-top: 0;
        // margin-bottom: 0;
        @media(max-width: 479px) {
            transform: scale(0.5);
        }
        @media(max-width: 991px) and (min-width: 768px) {
            // transform: scale(0.5);
            // margin-top: 25px;
        }
        // &__text-below {
        //     position: static;
        //     margin-top: 22px;
        //     display: block;
        //     @media(max-width: 479px) {
        //         margin-top: -30px;
        //     }
        //     @media(max-width: 991px) and (min-width: 768px) {
        //         margin-top: -30px;
        //     }
        // }
    }
    &__content {
        padding: 5px 0 25px 94px;

        .cta_button {
            margin-right: 20px;
            margin-bottom: 20px;
        }
        @media (min-width: 1201px) and (max-width: 1540px) {
            padding: 18px 0 15px 55px;
            h3 {
                margin-top: 0;
                margin-bottom: 25px;
            }
        }
        @media (min-width: 993px) and (max-width: 1200px) {
            padding: 0px 0 0 20px;
            h3 {
                margin-top: 0;
                margin-bottom: 25px;
            }
        }
        @media(max-width: 992px) {
            padding: 25px 10px 15px;
        }
        a {
            // font-weight: 600;
            @extend .va-hover;
        }
    }
    @media (max-width: 767px) {
        padding: 50px 0 70px;
    }
}

@media (max-width: 1200px) {
    .va-text-video-modal {
        &__content {
            width: 50%;
        }
        &__play-button-wrapper {
            width: 50%;
        }
    }
}

@media (max-width: 767px) {
    .va-text-video-modal {
        padding: 30px 0;
        &__content {
            width: 100%;
        }
        &__play-button-wrapper {
            padding: 40px 0 60px;
            width: 100%;
        }
    }
}
