.va-video-banner{
	width: 100%;
	min-height: 480px;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	.video-bg{
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		video {
			position: relative;
			min-width: 100%;
			height: 100%;
			max-width: none;
			width: 100vw;
			&::-webkit-media-controls {
	  				display: none;
				}
		}
	}
	.mask{
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: hubl("$first_color");
	}
	.content{
		position: relative;
		text-align: center;
		z-index: 4;
		margin: 130px 0px;
		span{
			margin-top: 25px;
			padding-top: 0px;
			color: #fff;
			font-size: 23px;
			display: inline-block;
		}
	}

}

/* Style for Magnific-popup */
.mfp-auto-cursor .mfp-content{
	max-width: 860px;
	height: auto;
}
