.va-text-and-bg-image {
	min-height: 595px;
	background-size: cover;
	background-position: right;
	@media (max-width: 767px) {
		background-position: left;
	}
	&__text {
		padding: 85px 0 150px;
        a {
            @extend .va-hover;
        }
	}
}